[2015-04-17 03:34] roozbehp opened #1 "README.md should mention other dependencies"
nototools is also heavily used by some of the scripts, mostly the post-production ones.

[2015-04-17 03:39] roozbehp opened #2 "Add exact instructions on how to download and set up dependencies"
Something along the lines of:

mkdir -p $HOME/src
cd $HOME/src
git clone https://github.com/behdad/fonttools
git clone ....
export PYTHONPATH=....

[2015-04-17 05:17] roozbehp opened #3 "Don't try generating a TTF when the OTF generation has already failed"
When I try to build the fonts using "make v2", and there's no "makeotf" available, the script continues trying to build the TTF anyway, although building the OTF has failed. Here's the error I get:

[code]

It should just stop after the first failure.

[2015-04-17 19:21] roozbehp opened #4 "Anchors in composite glyphs don't work properly?"
@jamesgk knows the exact details (which seems to be a FontLab conversion issue). Using this to track it, so we don't release without a fix.

[2015-04-17 23:19] #3 closed, assigned to nobody

[2015-04-17 23:28] roozbehp opened #5 "Add a README to src/v2 explaining how to keep VFB and UFO files in sync"
Basically provide the command line tool one needs to run to build the UFO from the VFB files, and what one needs to do in FontLab to import the UFOs in FontLab.

[2015-04-18 01:01] roozbehp opened #6 "Code review request"
James, please review the following commit:
de647e3525de1899a0506f86f3c8a95f044594b4

[2015-04-18 01:11] roozbehp opened #7 "Building Roboto fails with the open source version of AFDKO"
Building the fonts with the latest open source version of AFDKO (adobe-type-tools/afdko@d6d94c017d73da260274a763b8aeea67278e24ad) fails.

Here's the relevant output:

[code]

[2015-04-18 01:23] #6 closed, assigned to jamesgk

[2015-04-23 03:20] roozbehp opened #10 "Navajo forms of Ą and Ę need small caps form"
The fonts have a Navajo form for Ą and Ę with centered ogonek, but miss the small caps variants of the letters.

[2015-04-23 05:39] roozbehp opened #11 "Add a test verifying that width of tab and space characters are equal"
According to the Microsoft spec at https://www.microsoft.com/typography/otspec/recom.htm, the TAB (U+0009) character should have an advance width equal to that of space.

This is true in the latest fonts, but we need to have a unit test making sure it doesn't regress.

[2015-04-23 06:12] roozbehp opened #13 "Figure out the list of contour tones we care about and test that they are all supported properly"
These are IPA contour marks (such as ˥˥˦), and their behavior is defined at Unicode 6.2, section 7.8, page 237.

We need to make sure all combinations we care about are supported as ligatures in the fonts.

[2015-04-23 18:06] jamesgk opened #14 "vfb2ufo issue workarounds"
[vfb2ufo](http://blog.fontlab.com/font-utility/vfb2ufo/), which we use to convert FontLab source files to UFO toolchain input, seems to have a few open bugs:
1. Anchors are dropped from glyphs with components but no contours.
2. Composite glyphs including uni1ABE (i.e. lmidtilde_uni1ABE, dcroat_uni1ABE, eng_uni1ABE, gbar_uni1ABE, bbar_uni1ABE, and rrthook_uni1ABE) are dropped.
3. Some glyphs are d

[2015-04-23 18:13] jamesgk opened #15 "Test coverage for glyph compositions"
[coverage_test.py](https://github.com/google/roboto/blob/master/scripts/coverage_test.py) checks individual characters, but we want to also check that we support character sequences e.g. gbar_uni1ABE.

[2015-04-23 22:29] roozbehp opened #16 "Add Teuthonista samples from L2/10-346"
There are various samples from http://www.unicode.org/L2/L2010/10346-n3907-teuthonista.pdf that should be added to samples directory and tested. Note that the documents is based on an older encoding model for the characters, but the samples from the pages are still valid.

[2015-04-24 00:12] roozbehp opened #17 "Shapes of Insular T may need improvement"
Christian,

I think the shapes of Insular T are still problematic. What do you think? I'm including sample words from the Unicode proposal at http://www.unicode.org/L2/L2006/06266-n3122-insular.pdf.

Roboto Thin:
![roboto-100](https://cloud.githubusercontent.com/assets/302255/7310080/13f9de4a-e9db-11e4-9bdc-62af5e019304.png)

Segoe UI:
![segoeui](https://cloud.githubusercontent.com/assets/302255/7

[2015-04-24 01:56] roozbehp opened #18 "Greek: Lowercase chi should probably be differentiated from lowercase Latin x"
From internal bug 18782818:

@raphlinus:

@roozbehp:

@christianrobertson:

Feedback from native Greek Googler:

[2015-04-25 19:49] roozbehp opened #22 "There's two sets of superscript digits in the fonts"
There's two sets of superscript digits in the fonts. One set is cmap-ped from the Unicode superscript digits "⁰¹²³⁴⁵⁶⁷⁸⁹", while another is triggered by the ['numr'](https://www.microsoft.com/typography/otspec/features_ko.htm#numr) feature.

Investigate if they can be merged into one set.

/cc @christianrobertson

[2015-04-27 06:00] roozbehp opened #24 "Width of U+2009 THIN SPACE may need to be modified for French"
According to Microsoft's [Character design standards](https://www.microsoft.com/typography/developers/fdsspec/spaces.aspx), the width of U+2009 THIN SPACE is language-dependent. Here's the actual text:

/cc @christianrobertson, @raphlinus

[2015-04-27 06:09] roozbehp opened #25 "Find the right amount of subscript, superscript, and strikeout positions in OS/2 table"
The values that were already in the font have been changed by ParaType, perhaps unintentionally (see internal [issue 31](https://code.google.com/a/google.com/p/roboto/issues/detail?id=31)). We need to find the right values and set them.

Assigning to Christian, as this is a design issue.

[2015-04-27 06:17] roozbehp opened #26 "Figure out the list of base+combining characters we care about"
We need to figure out the list of base+combining characters we care about, and make sure they have the right anchors and work properly, and then test them.

Some things to consider: CLDR exemplars, web frequency data, and combinations supported by Windows fonts (to increase compatibility).

[2015-04-27 22:12] #1 closed, assigned to jamesgk

[2015-04-28 01:05] #2 closed, assigned to jamesgk

[2015-04-28 01:07] #5 closed, assigned to jamesgk

[2015-04-28 01:33] roozbehp opened #29 "'tnum' feature should exist for oldstyle digits"
It should map oldstyle digits to to tabular oldstyle digits. Spec at https://www.microsoft.com/typography/otspec/features_pt.htm#tnum.

(Internal bug https://code.google.com/a/google.com/p/roboto/issues/detail?id=59)

[2015-04-29 03:05] roozbehp opened #30 "Find a way to test and fix positioning of accents"
The accents on various letter alternatives are not positioned the same way as the main letters. For example, see the following comparison of "ą̈ ę̄ ę̀" with "ä ē è", where the accents of the ogonek forms are to the left of the accents of the basic letters (from internal bug 149):
![400](https://cloud.githubusercontent.com/assets/302255/7384135/59554ad8-ede1-11e4-891a-c3c5d39edbcd.png)

We need to

[2015-04-29 05:33] roozbehp opened #31 "The macron on ī (i with macron above) may be too wide"
I think the macron on ī (i with macron above) may be too wide.

Looking at some of the Windows fonts, it seems that some fonts (Arial, Segoe UI) generally have a relatively short macron which is used for every letter, while some others (Tahoma) use a shorter macron for i and a larger macron for other letters.

Roboto:
![roboto-400](https://cloud.githubusercontent.com/assets/302255/7385227/61e2ac12

[2015-05-05 22:21] #7 closed, assigned to jamesgk

[2015-05-06 17:35] #14 closed, assigned to jamesgk

[2015-05-11 16:27] #4 closed, assigned to jamesgk

[2015-05-15 17:25] jamesgk opened #35 "GPOS differences"
Some lingering differences in mark positioning still exist between the new output and the old. These differences are quite small (<10 units), but there are hundreds of them per font. Even if we don't completely do away with every difference we want to at least understand their cause.

[2015-05-26 20:05] mchowdhury opened #37 "Roboto fonts not usable in Microsoft Windows enviroment"
What steps will reproduce the problem?
1. Install the Roboto fonts family (Windows 7, Windows 8, Windows 8.1)
2. Start using Microsoft Word (2010/2013)
3. Select Roboto Fonts

What is the expected output? What do you see instead?
Word shows only "Roboto" in the Fonts selector and uses only the first installed fonts type. Even so it is possible to select another type in the fonts property menu the

[2015-05-26 20:21] codeman38 commented on #37
More specifically, this is an issue with the `name` table.

There are 2 places that the family name and style name are present in the name table:
* ID 1, 2: family and style name for compatibility with environments such as Windows that only allow four base styles per family.
* ID 16, 17: family and style name for environments that support additional styles.

For any fonts outside of the base 4 sty

[2015-05-26 20:38] kevinburkeshyp opened #38 "Add a picture of the font to the README"
It would be really nice if you could see an example of the font (or click through a link to see one) in the README - to get a sense for whether I'd like to use it.

[2015-05-26 21:22] keehun commented on #31
Tahoma's looks the best to me. Segoe and Arial's macron over the "o" seems too short. But might just be my latin writing.

[2015-05-26 22:00] kkamkou commented on #38
+1

[2015-05-26 22:48] waldyrious commented on #38
I suggest linking to https://www.google.com/fonts/specimen/Roboto

[2015-05-28 10:17] supertobi opened #40 "Remove old Batch file"
https://github.com/google/roboto/blob/master/build.bat

According to Roozbeh Pournader: "The batch file is an artifact of the old Windows build environment."
https://plus.google.com/+RoozbehPournader/posts/jbLJZGWFj68

[2015-05-28 10:19] supertobi opened #41 "Add a list off all programms needed to build this"
Iit would be nice to have a list off all needed programs like eog, vfb2ufo.exe, etc.﻿

[2015-05-28 17:26] roozbehp commented on #40
Thanks. Fixed in c1fbee1a4bfe25aec8c0c4c4bceaa382825da95a.

[2015-05-28 17:26] #40 closed

[2015-05-28 21:58] jamesgk commented on #41
So we do have pretty thorough build dependency information in the readme, while eog and vfb2ufo are used for other tasks -- test rendering and altering sources. Did you find any other miscellaneous dependencies? And do you have specific suggestions as to where we might list them (I guess another section in the readme would be fine)? Note that the vfb2ufo dependency is already documented in a separ

[2015-05-28 22:07] jamesgk commented on #38
How about an image from the Material Design typography page? http://www.google.com/design/spec/style/typography.html#typography-typeface

[2015-05-29 03:43] roozbehp commented on #38
Works for me, assuming we actually generate it using the latest font (using, say, pango-view or hb-view).

[2015-05-29 05:45] moyogo opened #42 "Latin extended design issue"
The glyphs for ᶛƖᵻᶦᵿᶷ are wrong

![capture d ecran 2015-05-31 a 07 19 35](https://cloud.githubusercontent.com/assets/1923747/7900824/6fbd5e58-0765-11e5-8f01-543e4e45dcab.png)

* ᶛ U+1D9B is not a superscript mirrored Latin alpha but a superscript turned Latin alpha. It should look like ɒ U+0252.
* Ɩ U+0196 must not be the same as I U+0049, some languages use both Ɩ/i and I/i.
* ᵻ U+1D7B is not a s

[2015-05-29 05:48] finan1212 commented on #42
Hack pasword erapiah92@gmail.com
Pada 29 Mei 2015 12:45, "Denis Moyogo Jacquerye" <notifications@github.com>
menulis:

[2015-05-29 06:04] moyogo commented on #42
Ɑ could be better and Ɒ is wrong.
![capture d ecran 2015-05-29 a 07 03 39](https://cloud.githubusercontent.com/assets/1923747/7877300/e294477a-05d0-11e5-90ca-bd9181c5b971.png)

* Ɑ U+2C6D has it's bottom terminal going below the baseline, it should curl like the lowercase ɑ U+0251.
* U+2C70 should be base on it, and turned not mirrored as it currently is.

[2015-05-29 07:13] supertobi commented on #41
1. No, didn't find any other, but I although haven't looked deeper into the sources.
2. Yes, a small section in the readme would be fine.

[2015-05-29 08:57] adrientetar commented on #42
cc @christianrobertson

[2015-05-29 15:44] roozbehp commented on #42
@moyogo, I really appreciate this!

[2015-05-31 06:32] moyogo commented on #42
I've updated the first image, on one side the problematic glyph and on the other side the glyphs they should be based on.

I also have doubts about the K hook, Ƙ U+0198.
The current glyph is similar to what Arial or Times New Roman do, with the hook on top of the stem, but the standard shape has it on top of the top diagonal.

What I call the standard shape is in the Pan-Nigerian typefaces produce

[2015-05-31 18:40] jamesgk commented on #41
I decided to just add eog to the post-production section of the main readme, and leave the readme in `src/v2` as-is. It's a bit messy but I think it makes sense in terms of visibility to people who are interested in different parts of the toolchain (code vs. source fonts).

I think this does cover everything. But of course please let us know if you find any more dependencies.

[2015-06-01 19:49] kalidAli opened #44 "mymy55kalid"

[2015-06-01 19:53] #44 closed

[2015-06-02 19:16] roozbehp commented on #18
Also reported at https://code.google.com/p/android/issues/detail?id=160613. Quote:

[2015-06-05 18:29] jungshik opened #45 "U+20A9 (Korean Won Sign) is too wide"
As shown in the image below (Left is Roboto and Right is Noto Sans (CJK) KR), the width of U+20A9 in Roboto is too wide.

![image](https://cloud.githubusercontent.com/assets/8578343/8012334/87f0611e-0b75-11e5-8979-56bbbd93bafc.png)

Its width should be comparable to other currency signs in Roboto. (it using 'W', it can be slightly wider than $, I guess).

Besides, perhaps, a single horizontal bar

[2015-06-09 23:43] roozbehp opened #46 "U+2027 HYPHENATION POINT is incorrect"
Here's Roboto's rendering of "hy‧phen‧ation"
![roboto-400](https://cloud.githubusercontent.com/assets/302255/8072113/52283f3a-0ec6-11e5-9165-651ce9df7655.png)

There are at least three things wrong the current shape:
1. It should be circular.
2. It should be larger.
3. It should have more space around it.

It seems that Segoe UI Symbol has this right:
![segoe-ui-sym](https://cloud.githubuserconten

[2015-06-09 23:47] roozbehp commented on #45
/cc @xiangyexiao

[2015-06-09 23:50] roozbehp opened #47 "U+2043 HYPHEN BULLET should have sharp corners"
It presently has round corners. It should have sharp corners.

Compare with Unicode chart and any font on Windows or OS X that supports the characters.

Internal bug b/21561516
/cc @xiangyexiao

[2015-06-10 00:07] roozbehp opened #48 "The brackets at U+27E6..27EB are too thick in Roboto"
They should be drawn with a thinner pen. Compare Roboto Regular, Noto Sans Symbols, and Segoe UI Symbol:

Roboto Regular:
![roboto-400](https://cloud.githubusercontent.com/assets/302255/8072356/acacb122-0ec9-11e5-9b0a-8954d182602a.png)

Noto Sans Symbols:
![noto-symbols](https://cloud.githubusercontent.com/assets/302255/8072361/bb80edc6-0ec9-11e5-835e-476cef7483c4.png)

Segoe UI Symbol:
![segoe-ui

[2015-06-10 00:10] jungshik commented on #45
![image](https://cloud.githubusercontent.com/assets/8578343/8072393/369b4c54-0eca-11e5-9989-58e26da48a84.png)

U+20A9 seems to be made by adding two horizontal lines across 'W'. Just like '$' is narrower than 'S' in most fonts,  U+20A9 had better be narrower than 'W'.

[2015-06-10 00:11] roozbehp opened #49 "The shapes of U+27EC..27EF are incorrect"
Compare with Unicode chart, and the glyphs in Noto Sans Symbols and Segoe UI Symbols:

Roboto:
![roboto-400](https://cloud.githubusercontent.com/assets/302255/8072422/84668624-0eca-11e5-8966-f1ea410fe13b.png)

Noto Symbols:
![noto-symbols](https://cloud.githubusercontent.com/assets/302255/8072425/89dc44a4-0eca-11e5-9385-3a2f674a260d.png)

Segoe UI Symbols:
![segoe-ui-sym](https://cloud.githubuserc

[2015-06-10 00:14] roozbehp opened #50 "U+20F0 combining astrisk should be six-pointed"
As a Latin and general purpose character, it's considered a math character,
proposed in http://www.unicode.org/L2/L2007/07011-n3198-math.pdf.

It's not supposed to match the asterisk in the font, but should be always
six-pointed.

Internal tracker b/21566652
/cc @xiangyexiao @raphlinus

[2015-06-10 18:37] #41 closed

[2015-06-10 19:23] jamesgk commented on #38
Interestingly, I quickly made a new version of the weight demo with new output and the kerning appears different. Compare the version from the material typography spec:

![live sample](http://material-design.storage.googleapis.com/publish/material_v_4/material_ext_publish/0Bx4BSt6jniD7ZHlGSHpsMjU5YmM/style_typography_weights1.png)

with the new version I made:

![new sample](https://cloud.githubus

[2015-06-10 20:57] jungshik commented on #46
/cc @jungshik

[2015-06-12 17:25] djdm opened #55 "Building fonts on OS X has name collision issue"
Due to the glif default file naming scheme in Robofab glyphs like 'LJ' and 'Lj' are overwritten by one another. The UFO, OTF and TTF generated only have one of 'LJ' and 'Lj' or 'NJ' and 'Nj' instead of both in both pairs, or makeotf fails to produce them because of a key error.

We made a pull request to address the issue in robofab: robofab-developers/robofab#35
Another fix would be to use uninam

[2015-06-14 06:54] adrientetar commented on #38
It seems the demo picture has had some tracking appliedto the lighter weights. In any case I don't think it's the kerning since even pairs that don't need it appear wider.

[2015-06-15 04:42] roozbehp commented on #42
/cc @xiangyexiao

[2015-06-15 07:07] caraya opened #56 "Error generating OTF files"
I've installed the requirements multiple times but I get the same error below. I'm not sure if this is related to #55 or if this is a different issue altogether.

If #55 is not the cause of this error; where do I need to look at to get this fixed?

PYTHONPATH=:/Users/carlos/code/roboto-src/roboto/scripts/lib python scripts/build-v2.py
BuildNumber: 01290
---------------------
Roboto Thin
----------

[2015-06-15 07:12] anthrotype commented on #56
Yes, it's the same issue as #55.
If you're on OSX, you can temporarily fix it by building the fonts from a case-sensitive sparse image (you can create one with Disk Utils).

[2015-06-15 21:45] caraya commented on #56
Thanks for the confirmation.

[2015-06-18 21:54] jamesgk opened #62 "Condensed glyphs italicizing incorrectly"
Currently some of the glyphs in condensed italic fonts are coming out very wrong e.g. "w" in RobotoCondensed-Italic:
![w](https://cloud.githubusercontent.com/assets/988758/8243193/ae530362-15c9-11e5-84cb-639099e5eab2.png)
All of the non-italic condensed fonts and non-condensed italic fonts seem fine, however.

[2015-06-19 22:32] jamesgk commented on #62
This seems to have been caused by 9292364c1a122498ada2616fdd20683c27c80e15, though the root of the problem is probably somewhere in [italics.py](https://github.com/google/roboto/blob/master/scripts/lib/fontbuild/italics.py). That file is largely undocumented and tedious to debug, so for now I'll rollback 9292364c1a122498ada2616fdd20683c27c80e15. Though perhaps what would be best going forward woul

[2015-06-21 00:39] #62 closed

[2015-06-25 22:57] xiangyexiao commented on #45
has been fixed in the next update

[2015-06-25 22:57] #45 closed

[2015-06-25 22:57] xiangyexiao commented on #42
has been fixed in the next update.

[2015-06-25 22:57] #42 closed

[2015-06-25 22:58] xiangyexiao commented on #47
has been fixed in the next update.

[2015-06-25 22:58] #47 closed

[2015-06-25 22:59] xiangyexiao commented on #48
has been fixed in the next update

[2015-06-25 22:59] #48 closed

[2015-06-25 23:00] xiangyexiao commented on #49
has been fixed in the next update

[2015-06-25 23:00] #49 closed

[2015-06-25 23:02] xiangyexiao commented on #50
has been fixed in the next update

[2015-06-25 23:02] #50 closed

[2015-06-26 05:09] tomByrer opened #64 "Roboto Mono?"
https://www.google.com/fonts/specimen/Roboto+Mono
I have no pressing need right now.  I or someone will try to get someone to add PowerLine glyphs someday....

[2015-06-26 05:12] tomByrer commented on #30
This seems like a good visual-diff tool.  Mostly for CSS, so perhaps swapping the characters via CSS/JavaScript could be a good workaround...
https://github.com/Huddle/PhantomCSS

[2015-06-26 06:29] behdad commented on #30
/cc @dougfelt

[2015-06-26 14:25] davelab6 commented on #64
Cool! I think a version of Roboto with those glyphs added would live in https://github.com/powerline/fonts though

[2015-06-26 14:25] davelab6 commented on #64
https://github.com/powerline/fonts/issues/116

[2015-06-26 14:28] tomByrer commented on #64
Thanks for digging up that Issue!

[2015-07-05 22:24] chrtz commented on #37
Thanks codeman,
sadly I still have the issue that the regular italic isn't recognized by windows. :/

[2015-07-09 08:55] TofPlay opened #66 "Pod for iOS"
Do you have a pod for iOS?

[2015-07-21 02:42] MahaHas commented on #47
![hyphen-bullet](https://cloud.githubusercontent.com/assets/12836138/8792034/7d7ac2c2-2f17-11e5-8495-ebc9331c1f35.png)

[2015-07-21 18:32] xiangyexiao commented on #46
This bug has been fixed

[2015-07-21 18:32] #46 closed

[2015-07-22 00:57] jamesgk commented on #35
So this issues seems to be based on the use of numpy in [mix.py](https://github.com/google/roboto/blob/master/scripts/lib/fontbuild/mix.py) -- numpy arrays always retain their types when mutated. A couple of examples:

[code]

Some scale factors in the source VFBs contain whole-number floating point values (e.g. -1.0), but these are converted to ints by vfb2ufo. Thus due to this numpy behavior [he

[2015-07-27 11:01] behdad commented on #35
We probably should move to using MutatorMath, or fontMath.

[2015-07-27 13:00] illarionov opened #67 "U+20B4 Hryvnia sign is incorrect"
U+20B4 Hryvnia sign have incorrect shape

https://en.wikipedia.org/wiki/Hryvnia_sign

###### Noto Sans Symbols

   ![noto](https://cloud.githubusercontent.com/assets/482800/8906503/e1731eb8-3477-11e5-9d2a-f59e76dabd1c.png)

###### Roboto

   ![roboto](https://cloud.githubusercontent.com/assets/482800/8906524/0b99dff6-3478-11e5-9a5a-fd3d48d51dcf.png)

[2015-07-27 13:07] davelab6 commented on #67
Do you think the curved shape must pass through the bars?

Do you think the ends of the curve must stop further away from the bars?

[2015-07-27 14:16] illarionov commented on #67
Yes, both of them.
The hryvnia sign is a cyrillic cursive letter Ge with two horizontal strokes.  Now it does not looks not like Ge.

[2015-08-03 21:50] xiangyexiao commented on #31
assign it to myself to contact the contractor and get their opinion.

[2015-08-03 21:52] xiangyexiao commented on #67
assign it to myself to contact the contractor and see if they can fix this.

[2015-08-03 21:52] xiangyexiao commented on #24
assign it to myself to contact the contractor and see if they can fix this.

[2015-08-03 21:52] xiangyexiao commented on #17
assign it to myself to contact the contractor and see if they can fix this.

[2015-08-03 21:53] xiangyexiao commented on #10
assign it to myself to contact the contractor and see if they can fix this.

[2015-08-03 22:00] xiangyexiao commented on #17
It seems this issue has been fixed. See the current shape.
<img width="185" alt="screen shot 2015-08-03 at 2 59 44 pm" src="https://cloud.githubusercontent.com/assets/12721521/9048737/4fd32312-39f0-11e5-80c4-68d3ef882d4b.png">

[2015-08-03 22:00] #17 closed

[2015-08-06 00:11] jamesgk opened #68 "Hinted size of Roboto has decreased between v1 and v2"
Although the height of the various letters have not changed between Roboto version 1 and version 2, the hinted size of the letters has visibly changed between version 1 and version 2.

This is most visible in 12px, 14px, and 16px sizes, where the 1-pixel height difference between Roboto v1 is most visible.

For example, here is the hinted height of the letter 'x', which is 1082 units in both Robot

[2015-08-06 00:14] roozbehp commented on #68
IIRC, this was supposed to be fixed in their latest delivery. So it may have been fixed by now. (Anyway, even if it's fixed, a unit test should be created to check for it so we don't regress.)

[2015-08-06 00:38] jamesgk opened #69 "Positioning of acute accent over capital and some small-caps ogonek forms is broken"
The acute accent in the sequence Į́ (<012E, 0301>) is not properly positioned in any size in small-caps.

The combination is used in the Navajo language and potentially other languages.

See the attached screeshots:

![100](https://cloud.githubusercontent.com/assets/988758/9101186/9276bc0c-3b98-11e5-8e65-1163134b8288.png) ![900](https://cloud.githubusercontent.com/assets/988758/9101187/9634779e-3b

[2015-08-06 00:39] jamesgk commented on #69
/cc @roozbehp @sven-oly

[2015-08-06 20:11] jungshik commented on #68
@roozbehp What's the latest delivery date of hinted Roboto ? I just pulled and the latest in the repo seems to be that of March 30. Do we have a newer delivery? If so, I want to use them on CrOS.

[2015-08-06 20:18] jungshik commented on #68
This is also an issue reported against CrOS ( http://crbug.com/462015 )

[2015-08-06 21:21] jungshik commented on #68
/cc @xiangye

[2015-08-06 23:18] jungshik commented on #68
I think it's fixed in the latest delivery (2015-06-25) which @jamesgk just checked in.

Below is ftview (Freetype 2.5.5 with LCD aa with horizontal RGB) :

![screenshot from 2015-08-06 16 14 03](https://cloud.githubusercontent.com/assets/8578343/9125490/4ba65ecc-3c56-11e5-8693-f50bb92ee350.png)

I counted the vertical pixels (of 'x' and 's' @12, 14, 16 ppem and of 'A' @16ppem) and confirmt that th

[2015-08-07 00:08] jamesgk opened #70 "Set Ascent/Descent/LineGap of Roboto to Roboto v1 values"
We need to figure out if that is desired for all version of Roboto, or only those shipped with Android or served on the web.

The values are 1900/-500/0.

\cc @roozbeh @raphlinus @jungshik @davelab6

[2015-08-07 00:09] jamesgk commented on #70
Also make sure we are actually setting and testing for these values. Once we are no longer receiving source updates, we should set these values in the toolchain rather than the post-production scripts.

[2015-08-07 00:28] jamesgk opened #71 "Check validity of lnum, onum, and pnum features"
Check that the glyphs are proper and that they match what is expected of them.

The features seem to be set correctly, but *.lnum glyphs are misnamed. *.lnum glyphs currently refer to proportional numbers, and should probably be renamed to *.pnum.

Tabular old style numbers are present in the font (named *.tnum) but don't seem to be used anywhere; they could be used in the tnum feature.

[2015-08-07 00:30] jamesgk opened #72 "Make sure hints are stripped from Android version"
Write tests to make sure hints are stripped from the Android version of the fonts.

[2015-08-10 23:04] jamesgk opened #73 "Make sure GPOS anchors exist"
All letters should have anchors above and below them, all marks should have anchor points for attaching to letters and other marks.

We can probably deduce anchor points for some of the composite glyphs. For example, if C has an anchor point for an umlaut, C-cedilla can keep the same anchor point since a cedilla is on the other side.

\cc @roozbehp

[2015-08-10 23:12] jamesgk opened #74 "Make sure soft-dotted characters lose their dots"
The soft-dotted characters should lose their dots when combined with combining characters above. Here's a list:

[code]

"Combining characters above" includes (may not be comprehensive):

[code]

[2015-08-10 23:12] jamesgk commented on #74
This seems to have been started at https://github.com/google/roboto/blob/master/scripts/run_exhaustive_tests.py#L89

[2015-08-10 23:12] jamesgk commented on #74
\cc @roozbehp

[2015-08-10 23:19] jamesgk opened #75 "Make sure we match commonly used sans fonts feature-wise"
Compare with popular sans fonts, see if they provide anything that we don't.

\cc @roozbehp @davelab6

[2015-08-10 23:36] jamesgk commented on #73
\cc @raphlinus

[2015-08-10 23:43] jamesgk opened #76 "Make sure ligature carets exist for all ligatures"
Make sure we have ligature carets for all ligatures, such as "fi".

We basically need to make sure all the ligatures in the font (including contour tones in #13) have ligature carets in the GDEF table (LigCaretList table at http://www.microsoft.com/typography/otspec/gdef.htm).

Internal bug b/15653110

[2015-08-10 23:44] jamesgk opened #77 "Consider dropping name table records with platform ID of 1"
Those are the Mac tables, and it's possible that Mac knows how to get them from the Windows tables.

[2015-08-10 23:48] jamesgk opened #78 "Look at locl GSUBs and figure out if we want to do them"
Romanian comma specially.

[2015-08-10 23:48] jamesgk commented on #78
Not sure who would make this decision; assigning to @roozbehp for now.

[2015-08-11 00:00] jamesgk opened #79 "Drop Mac-specific cmap subtables"
Make sure Mac can use the Windows ones if missing. Otherwise, just drop them for Android.

[2015-08-11 00:06] jamesgk opened #80 "Roboto Regular and Black weights being mixed up in Windows 8"
**What steps will reproduce the problem?**
1. Install Roboto family from google.com/design/spec on Windows 8
2. Open Photoshop CC 2014
3. Create two text layers, one with Roboto Regular and Roboto Black

**What is the expected output? What do you see instead?**
They should look different. Instead, with this bug, Roboto Black looks like Roboto Regular.

**Please provide any additional information b

[2015-08-11 00:45] jamesgk opened #81 "Combining keycap at U+20E3 is too tight"
The combining keycap at U+20E3 may be too tight.

Images were provided in the original report, renderings of the sequence <0023, 20E3, 0030, 20E3, ...> with SegoeUI and Roboto, respectively:

![segoeui](https://cloud.githubusercontent.com/assets/988758/9187593/40e1ff58-3f87-11e5-8202-875d10f78c56.png)
<img src="https://cloud.githubusercontent.com/assets/988758/9187590/3882e6f6-3f87-11e5-81e0-304dc

[2015-08-11 17:28] davelab6 commented on #68
I notice a few changes when comparing TTXs of the version currently in https://github.com/google/fonts/tree/master/apache/roboto and https://github.com/google/roboto/tree/master/hinted

- [ ] The glyphorder has changed

- [ ] The vertical metrics also changed, eg in the Condensed Bold from

[code]

to

[code]

- [ ] Name IDs with `platformID="1"` were reintroduced.

- [ ] The POST table regressed

[2015-08-11 18:10] jungshik commented on #68
* The glyphorder has changed : Under normal circumstances, users of a font should never worry about this. It's a bug on the side of a font user/a downstream program to rely on the stable glyph order.

The following two issues are not regressions. They're supposed to be (and they're)  taken care of by building 'web' target:

* The POST table regressed from v3 to v2, adding PSNames
* The vertical me

[2015-08-11 18:21] davelab6 commented on #70
Will this cause clipping?

[2015-08-11 18:22] jungshik opened #82 "Consider dropping Name IDs with pid=1 for all or certain targets?"
Spun off from #68

The name table of hinted Roboto seems to always have name ids with PID=1. Dropping them will save the space a tiny bit.

/cc @roozbehp @davelab6

[2015-08-11 18:23] davelab6 commented on #68
I agree, although it is worth noting :)

I'm sorry, 'regression' is not the right word, I didn't intend its implications; I should have said 'decremented' (from v3 to v2) or just 'changed' :)

I'm curious why the POST table v2 is preferable for web fonts.

I also wonder if you could explain the vertical metrics change. I guess that this could be as disruptive for users as changing the hinted x hei

[2015-08-11 18:27] jamesgk commented on #82
Duplicate of #77

[2015-08-11 18:27] #82 closed

[2015-08-11 18:28] jamesgk commented on #77
\cc @jungshik @roozbehp @davelab6

[2015-08-11 18:38] jungshik commented on #68
It's NOT a change. Roboto has had what you called 'new metrics' for ages on Android (perhaps since J if not earlier).

I'm actually turning the table to you. Why in the world does Roboto in Google Fonts have different metrics than Roboto as shipped on Android and Chrome OS?

[2015-08-11 18:44] jungshik commented on #68
I don't think it's worth noting. It's a non-event. ;-p.

[2015-08-11 18:46] davelab6 commented on #77
Mac means Mac OS 9 and earlier; Mac OS X will use the Windows tables.

[2015-08-11 19:14] jamesgk commented on #30
Other examples, from internal bug 65: "n͠g n͡g". These do work correctly:

![roboto](https://cloud.githubusercontent.com/assets/988758/9207425/6d44c738-4022-11e5-96ad-6a9b00375b39.png)

But we still need tests to prevent regression.

[2015-08-11 19:36] jamesgk opened #83 "U+1ABA and U+1AB9 should attach to the bottom left of letters"
These combining characters attach to the letter incorrectly. They are currently attaching to the bottom right (or sometimes don't attach), but they should always attach to the bottom left of the letters.

See the attached screenshots:

![i100](https://cloud.githubusercontent.com/assets/988758/9207942/830d14b4-4025-11e5-931f-273509c407be.png)
![i400](https://cloud.githubusercontent.com/assets/98875

[2015-08-11 21:31] jamesgk opened #84 "Test small capital / smcp shapes"
We should test that the relative shapes of Unicode "SMALL CAPITAL" letters and "*.smcp" characters are reasonable (consistent within the respective categories). We've had issues with this in previous source versions.

For example see the attached image. The small capital E & K letters (U+1D07 & U+1D0B) on the left are shorter than E.smcp & K.smcp (e & k with the smcp feature applied) on the right,

[2015-08-11 21:33] jamesgk commented on #84
Also notable is that the small capital K has the older capital K form, which is probably unintentional. The small capital R has its newer form:

![outdatedk](https://cloud.githubusercontent.com/assets/988758/9211264/d04a1622-4035-11e5-9427-a14664429616.png)

\cc @roozbehp

[2015-08-11 21:41] jamesgk opened #85 "U+AB37 and U+AB5D look wrong"
It seems that somebody has taken an "s", rotated it, and pasted it on the "l". It should be a "lazy s" instead. Compare with the glyph in the Unicode charts and the proposal document at http://www.unicode.org/L2/L2011/11137-n4031-teuthonista.pdf (Figure 38 has an example).

![ab37](https://cloud.githubusercontent.com/assets/988758/9211421/fa24d378-4036-11e5-95b0-892ff57a2ef9.png)

[2015-08-11 21:53] moyogo commented on #30
Regarding "ą̈ ę̄ ę̀" and "ä ē è", the former are meant to be composed with GPOS anchors, the latter are precomposed.
The anchors of the combining characters are wrong, they are base anchors when they should be mark anchors. The outline offset is what is currently positioning those combining characters instead of the anchors.
The 'mark' feature anchors of combining glyphs should only be mark anchor

[2015-08-11 22:21] jamesgk opened #86 "Test c2sc feature"
We test the smcp feature with [nototools](https://github.com/googlei18n/nototools/blob/1a01828dc034f21946c285bb8f3b9fbffc6b2135/nototools/unittests/font_tests.py#L412). We should test the c2sc feature as well.

Also, perhaps move these tests into `run_exhaustive_tests.py`, because they take a long time to run.

[2015-08-11 22:22] davelab6 commented on #68
I actually don't think I really understand why. I'd be grateful if you could explain :)

[2015-08-11 22:26] jamesgk opened #87 "fontRevision in 'head' table and font version in the 'name' table disagree"
They should be the same number. The tools should be changed to set both values at the same time.

[2015-08-11 22:40] jamesgk opened #88 "Hinting improvements: Roboto Condensed Regular G 10px, 12px"
Original report by @davelab6, internal bug 108:

Is this still an issue?

[2015-08-11 22:44] jamesgk opened #89 "NAME table unique ID to be more unique across versions?"
The NAME 'unique id' (id 3) should be 'globally' unique; current the build system uses the Full Name only, eg "Roboto Black Italic", but this is typically something more. Perhaps append the version number to this?

[2015-08-11 22:53] jamesgk opened #90 "Spacing of /k/c /k/e /k/o needs kerning"
Original report by @davelab6:

Using LC1 tab of http://www.impallari.com/testing/index-latin-02.php and checking the lowercase k, it seems too widely spaced in the Roboto Black Italic, Medium Italic and Bold styles.

For example, the 'olo' has even spacing between the o's and the l, but the 'oko' has more white area between the k and o:

![screen shot 2015-08-05 at 21 20 34](https://cloud.githubus

[2015-08-11 23:05] impallari commented on #90
Hi All, for testing kerning I suggest using the "Minimal Kerning Pairs" tab.
I've analyzed 150 great sans through a macro that counted the occurrences of each kerning pair across all fonts, then filtered out the less popular ones, and obtained that list of the really important ones (those that are directly related to the core anatomy of the letters).

[2015-08-12 00:13] jamesgk commented on #86
Also, the unic feature.

[2015-08-12 04:47] davelab6 commented on #89
I'll update the other bug about more changes from what is in the Fonts API,
but this is one of the things that changed

[2015-08-12 13:28] behdad commented on #81
Humm.  HarfBuzz hangs?!  Please investigate and report.  How are you testing this?

[2015-08-12 16:38] jamesgk opened #91 "Test for spacing between characters"
We need to be sure that tricky characters are spaced properly from their neighbors. For example, this shouldn't happen:

![100](https://cloud.githubusercontent.com/assets/988758/9230097/4b1b77de-40d5-11e5-86ae-5a9a0363a465.png)

(This particular issue has been fixed, but is not being verified.)

[2015-08-12 16:51] jamesgk opened #92 "Test general character shaping"
We should have some way of checking for red flags within the fonts, in regard to glyph shapes. Some previous issues:

Dots becoming elliptical at higher weights (compare left three inner dots in "ꙨꙬ" to others):
![900](https://cloud.githubusercontent.com/assets/988758/9230441/1f64b518-40d7-11e5-877b-62a62c0d3d80.png)

Wrong components being used in a composite character (in this case, I.smcp inste

[2015-08-12 17:53] jamesgk commented on #81
I was testing with:

[code]

Strangely, this seems to be a specific case which hangs. The following work just fine:

[code]

But it does hang on any font, not just Roboto.

[2015-08-12 18:13] jamesgk opened #93 "Test for, detect and fix characters which are not bold, italicized or condensed"
Some characters are not coming out bold, italic, or condensed. But strangely, in some cases you can see differences in the widths e.g. U+044B between Regular and Bold (shown here as a component of U+04F9, whose umlaut component is correctly made bold):

![400](https://cloud.githubusercontent.com/assets/988758/9232492/e60441a6-40e2-11e5-87f8-6d68e46b4aca.png) ![700](https://cloud.githubusercontent.

[2015-08-12 18:18] roozbehp commented on #91
The simple way going forward is having a list of character pairs that we want to make sure we don't regress on and simply use HarfBuzz shaping followed by the intersection detection mechanism in the notolint tool to make sure no new intersections are introduced.

[2015-08-12 18:27] khaledhosny commented on #81
It is the shell treating `#` especially, you just need to quote the string.

[2015-08-12 18:28] khaledhosny commented on #81
Or it is rather `hb-view` waiting for input since `#` is shell comment sign so it it didn’t see any.

[2015-08-12 18:30] jamesgk commented on #81
Ah, of course! Thanks Khaled. So with that, can we close this? Does the last image in my original post look alright to everyone?

[2015-08-12 18:40] jamesgk opened #94 "Glyphs misnamed"
Opening the output TTFs in FontForge, you see the following warnings about glyph names. The ones in bold seem to me to be relatively significant. Maybe they should be addressed?

The glyph named mu is mapped to U+00B5.
But its name indicates it should be mapped to U+03BC.
The glyph named bullseye is mapped to U+0298.
But its name indicates it should be mapped to U+25CE.
The glyph named dz is mappe

[2015-08-12 19:31] #69 closed

[2015-08-12 21:46] moyogo commented on #94
The name 'mu' has been reassigned to U+ 00B5' in AGLFN.
See https://github.com/adobe-type-tools/agl-aglfn for the latest version.

[2015-08-12 21:50] jamesgk commented on #87
Many libraries (makeotf, [ufo2fdk](https://github.com/typesupply/ufo2fdk/blob/master/Lib/ufo2fdk/outlineOTF.py#L190), [Glyphs](https://github.com/schriftgestalt/GlyphsSDK/blob/master/GlyphsFileFormat.md)) assume that minor version numbers will only have three digits, which is not the case for Roboto. We can work around this if we no longer use makeotf, or we can change the version numbering scheme

[2015-08-12 21:54] anthrotype commented on #94
alternatively, you can `from fontTools.agl import UV2AGL, AGL2UV`.

[2015-08-12 22:22] jungshik opened #95 "Increment version number for a new release"
All the hinted deliveries of Roboto v2 have the same version number ( 2.0 : integer portion is 2 and non-integer portion is always 0).

When we receive a new delivery for hinted Roboto, our touch-up script for Android, CrOS and web fonts should increment a minor version number.  Using two digits below the decimal point should be enough, I think.  (2.01, 2.03, etc)

To be absolutely safe, we can us

[2015-08-12 22:58] davelab6 commented on #94
I'm not sure how trustworthy fontforge is on this stuff

[2015-08-12 23:51] khaledhosny commented on #94
I think AGLFN should be used here, which means all those Arabic glyph names (and I guess most of the others) should be converted to `uniXXXX` syntax.

[2015-08-12 23:54] davelab6 commented on #94
I agree that the output ttfs should have AGLFN names

[2015-08-18 23:52] jamesgk opened #96 "plussubnosp flattened"
In the new output, this glyph's contours all have the same y-coordinate. When not decomposed, the glyph's component (U+02D6) can be seen to have a yScale value of zero.

Probably related to issues raised in #35, since the component has an integer yScale value of 1 in the regular master and a float value of 0.89 in the bold master.

[2015-08-20 11:15] adrientetar commented on #87
There's no restriction whatsoever, three digits is just a convention. (That makeotf somehow enforces.)

[2015-08-21 01:37] jamesgk commented on #10
Fixed by latest update, #97

[2015-08-21 01:37] #10 closed

[2015-08-21 14:21] codeman38 commented on #37
This still isn't fixed in the binary deliveries as of 2015/08/20 (545be2d). Were the binaries generated using the code from #51?

I wrote a Python script a while back which uses fonttools to fix the `name` tables in the binaries as specified above, and it still appears to work on the latest deliveries: https://gist.github.com/codeman38/9d77f650a875639a55e6

[2015-08-21 17:28] jamesgk commented on #37
Unfortunately no, the binaries present in the repository are not generated by the latest scripts. So yea, the choices are basically to either hotfix the existing binaries as you've done, or generate new fonts from the toolchain yourself (which *should* be functionally identical to the existing binaries, but the fact that we aren't yet fully confident of this is why this discrepancy exists).

[2015-08-21 18:01] roozbehp opened #98 "U+0332 COMBINING LOW LINE and U+0333 COMBINING DOUBLE LOW LINE don't connect"
According to Unicode, U+0332 COMBINING LOW LINE and U+0333 COMBINING DOUBLE LOW LINE should connect on left an right, creating an underline appearance for the whole phrase. But they don't. See the attached screenshot for the following text:

U+0331: A̱Ḇ
U+0332: A̲B̲
U+0333: A̳B̳

The first line is correct, but the last two lines should connect instead of being disconnected.
![400](https://cloud.g

[2015-08-21 18:07] jamesgk commented on #24
Fixed by latest update, #97

[2015-08-21 18:07] #24 closed

[2015-08-21 18:08] adrientetar commented on #24
Are there binaries available for the latest delivery?

[2015-08-21 18:22] jamesgk commented on #67
This glyph has been updated in the latest update (#97):

![roboto](https://cloud.githubusercontent.com/assets/988758/9415765/5f72eb4a-47f6-11e5-909b-b1171621811d.png)

How does the new shape look?

[2015-08-21 18:29] jamesgk commented on #24
Yea, the TTFs in `/hinted` have been updated.

[2015-08-21 18:39] dougfelt commented on #98
In some fonts (haven't checked Noto) the underlines are at different
heights on different characters, because of descenders in letters like
lower case p and q.  There is no limit to the length of the series of
characters, so you might have to join and unify heights across twenty or
more characters.  I don't know that opentype can do this well.

If one could determine from font data what the positi

[2015-08-21 18:45] roozbehp commented on #81
I'm OK to close this. Please open a new bug for U+20A3 to work with other characters, like the Latin letters.

[2015-08-21 18:59] khaledhosny commented on #98
The way I’m doing this is by creating multiple variants of the over/under line glyphs with different widths and substituting then contextually substitute them. I have a script that generates the variant glyphs and the substitution rules. To avoid creating too many glyphs, it puts the glyphs that have closer widths into groups and create one glyph and substitution rule for each group.

For this to

[2015-08-21 19:25] jamesgk opened #99 "Combining keycap at U+20E3 should combine with more characters"
@roozbehp wanted to research to find out what characters are used with a combining keycap on the web, but a minimal expectation would be all characters on a US QWERTY keyboard (basically all visible ASCII).

Quickly rendering the ASCII characters + the keycap with Roboto reveals many problems, and some  tricky cases (what to do with characters larger than the keycap? descenders?):

![roboto](https

[2015-08-21 19:26] #81 closed

[2015-08-21 19:32] roozbehp commented on #98
I'm with @khaledhosny! His solution makes a lot of sense to me.

@dougfelt, you are misreading the Wikipedia article. It says U+0332 (low line) joins, but U+0331 (macron below) doesn't.

[2015-08-21 19:35] roozbehp commented on #99
It's clear that the default keycap glyph should be made larger and deeper to cover the whole glyph for all ASCII graphic characters. We also need to make sure all the char+keycap combinations get the same advance width, which should be achievable using GPOS.

[2015-08-21 20:23] dougfelt commented on #98
Yes, sorry my mistake.

On Fri, Aug 21, 2015 at 12:32 PM, Roozbeh Pournader <
notifications@github.com> wrote:

[2015-08-21 20:39] adrientetar commented on #24
Thanks – change looks good.

[2015-08-21 20:45] jamesgk commented on #24
Great! Thanks Adrien.

[2015-08-21 21:10] moyogo commented on #24
Sorry, I meant to mention this earlier, but the correct thin space used in French is supposed to be a non breaking thin space: U+202F narrow no-break space. Pretty much all the French typography guides say the thin space is non breaking.
Thin space U+2009 breaks and a line starting with a punctuation sign is not good.
So I suppose both U+202F and U+2009 should have the same advance width.

I’m not

[2015-08-21 21:35] moyogo commented on #98
U+0305 and U+033F should behave the same way but above, they should connect as well.

[2015-08-22 07:41] moyogo opened #101 "Width of U+202F NARROW NO-BREAK SPACE should match U+2009 THIN SPACE in French"
As pointed in #24 the French thin space is supposed to be non breaking. One would therefore expect to use U+202F NARROW NO-BREAK SPACE in French instead of U+2009 THIN SPACE.
Whatever design decision or rationale applied to U+2009 THIN SPACE should apply to U+202F in French, since it is the more appropriate character.

[2015-08-22 08:09] illarionov commented on #67
Looks better, thanks!

[2015-08-22 08:09] #67 closed

[2015-08-22 08:23] adrientetar commented on #24
I find it boils down to personal preference amongst French typographers, though French-made fonts/books generally have tighter than other countries – the French-made fonts I have have smaller thinsp, few have U+202F though it’s highly useful! (I suspect InDesign makes non-breaking space regardless of whether you use the non-breaking codepoint, otherwise more French fonts would have it).

[2015-08-24 21:47] jamesgk opened #102 "Position U+1ABE with GPOS instead of ligatures"
Some combinations with U+1ABE use ligatures to position the combining mark: ƀ (U+0180), đ (U+0111), and ǥ (U+01E5), the tilde in ɫ (U+026B) and the tail in ŋ (U+014B) and ɽ (U+027D) (defined [here](https://github.com/google/roboto/blob/master/src/v2/Roboto_Regular.ufo/features.fea#L920)).

This looks correct, but @roozbehp and @behdad have suggested a more desirable approach:

[2015-08-24 23:25] jamesgk commented on #93
Running a comparison of glyph areas between Regular and Bold reveals that there are quite a few characters with the same issue (though some are likely intentional, e.g. .notdef). Will add a test to detect these unintended cases via area comparison.

[2015-08-31 23:50] #96 closed

[2015-09-02 14:51] Ziriax opened #104 "Roboto-regular and bold contain redundant cmap_format_12 table?"
When inspected using Google's TTX, the Roboto Regular and Bold fonts contain a cmap_format_12 table.

However, the content of this table is exactly the same as the cmap_format_4 table.

Furthermore, the presence of this table seems to cause problems with the Win32 API CreateFontPackage

[2015-09-02 20:56] jamesgk commented on #104
They're almost exactly the same, but actually the format 12 table contains two glyphs outside the Unicode BMP which can't be included in a format 4 table: uni1F16A and uni1F16B.

I'd be surprised if that API doesn't support format 12 tables. But one solution might be to try subsetting the TTFs using [nototools](https://github.com/googlei18n/nototools/blob/master/nototools/subset.py).

[2015-09-02 21:03] moyogo commented on #104
@Ziriax what are the problems you see with Win32 API CreateFontPackage?

[2015-09-02 22:01] Ziriax commented on #104
That is strange, when comparing these tables with TTX, I did not see these glyphs in the table. Also, the italic faces do not have these tables. I will double check tomorrow.

When subsetting the font using that API call, the subset does not render at all in Google Chrome, but it does work in IE11 or DirectWrite. The subsetted italic faces work fine.

I will check out nonotools, thanks for the lin

[2015-09-03 16:34] jamesathey opened #106 "Backwards compatible font metrics"
As the Roboto family changes and grows over time, are the metrics maintained to preserve backwards compatibility? Do any of these changes cause text composed of valid glyphs to flow differently or have a different bounding box?

In other words, can an Android app that's compatible with ICS (API 14) and up use Roboto for its text and trust that the labels will take the same amount of space on ICS a

[2015-09-03 22:40] roozbehp commented on #106
I understand that metric compatibility would be helpful, but we don't have any plans for metric compatibility. The fonts are still far from stable, and it's too early to consider metric stability.

[2015-09-03 22:40] #106 closed

[2015-09-04 21:50] jamesgk commented on #93
Original issue is fixed, and new tests would have caught it. There's still a potential todo here which is to do the same area test on italic and condensed fonts, but this is trickier since our condensing/italicizing process yields very slightly different areas between weights for glyphs which aren't supposed to change (my guess is, another rounding issue related to different glyph widths). Leaving

[2015-09-04 21:50] #93 closed

[2015-09-08 21:34] moyogo opened #108 "superiors, inferiors, numerators, denominators and fractions are inconsistent"
Roboto has 5 sets of superior, inferior, numerator, denominator figures and basic math symbols.
Some of these sets are incomplete.
There’s a tiny offset difference between the superiors and numerators but the fraction 'numr' feature mixes both for its numerators.
The 'sups', 'subs' and 'sinf' features are missing.

The "*superior" group of superiors:
zerosuperior
onesuperior
twosuperior
threesuper

[2015-09-09 20:37] #29 closed

[2015-09-09 22:24] jamesgk opened #109 "Contour directions"
In the new output, some glyph contours are clockwise when they technically should be counterclockwise or vice versa. For example, when a composite glyph contains a component which is mirrored, the directions of the mirrored contours are reversed.

As far as I can tell this was once significant for rendering, but isn't anymore. Certainly any tests I can run yield correct results with the new output

[2015-09-10 08:00] moyogo commented on #108
Just saw some of this was in #22 already

[2015-09-29 22:35] roozbehp opened #115 "fi ligature and lowercase f are inconsistent in their left-side kerning and the height of the stroke"
On Android, which uses Roboto as a default font, when typing a sequence such as ```<o>, <f>, <i>, <backspace>```, you can see the f move when backspacing. This happens because the effective left-side bearing of the "f" and the "fi" are different, potentially due to kerning. Replacing the "o" with different letters causes smaller or larger effects.

The height of the horizontal stroke is also diffe

[2015-09-30 05:00] roozbehp opened #117 "Review Noto LGC bugs and see if they also apply to Roboto"
@moyogo has reported a lot of very good bugs in Noto. We need to see if they also exist in Roboto, and file new bugs for them. His list of Noto bugs is at:
https://github.com/googlei18n/noto-fonts/issues/created_by/moyogo

/cc @xiangyexiao

[2015-10-16 22:41] jamesgk opened #120 "Latin epsilons (open e) design issues"
According to @moyogo in https://github.com/googlei18n/noto-fonts/issues/501:

ɛɜɝᴈɞʚ (U+025B U+025C U+025D U+1D08 U+025E U+029A) in Roboto:

![roboto](https://cloud.githubusercontent.com/assets/988758/10554795/b26671d6-741b-11e5-8b58-817bc15d496b.png)

ᴈ U+1D08 should be turned ɛ U+025B and distinct from ɜ U+025C. To me they seem basically indistinguishable. Maybe U+1D08 is a bit narrower, but tha

[2015-10-16 22:43] jamesgk opened #121 "Latin yogh design issue"
ȜȝЗз3 (U+021C U+021D U+0417 U+0437 U+0033) in Roboto:

![roboto](https://cloud.githubusercontent.com/assets/988758/10554876/7a473c26-741c-11e5-948e-59680275563f.png)

According to @moyogo in https://github.com/googlei18n/noto-fonts/issues/503, Ȝȝ U+021C U+021D should have a shorter middle stroke, it shouldn’t extend as far left as the bottom stroke.

[2015-10-16 22:45] jamesgk opened #122 "Vertical line italicized"
In Roboto-Italic, | U+007C is italicized. This seems contrary to convention.

[2015-10-16 22:50] jamesgk opened #123 "Latin/IPA vertical bars design issues"
a | a ‖ aǀaǂaǁala (U+0061 U+0020 U+007C U+0020 U+0061 U+0020 U+2016 U+0020 U+0061 U+01C0 U+0061 U+01C2 U+0061 U+01C1 U+0061 U+006C U+0061) in Roboto:

![roboto](https://cloud.githubusercontent.com/assets/988758/10554977/682eb2fc-741d-11e5-891c-29b59fd4ab31.png)

According to @moyogo in https://github.com/googlei18n/noto-fonts/issues/504, latin letters ǀ U+01C0 should be distinct from l U+006C (low

[2015-10-16 22:56] jamesgk opened #124 "Latin phonetic small cap letters design issues"
@moyogo brings up several issues with small caps in https://github.com/googlei18n/noto-fonts/issues/506. Some apply to Roboto.

ᴕᴽ U+1D15 U+1D3D should be based on Ȣ U+0222 instead of having a different top counter. See Ȣȣᴕᴽ U+0222 U+0223 U+1D15 U+1D3D:

![roboto](https://cloud.githubusercontent.com/assets/988758/10555010/eed747a6-741d-11e5-9acf-aaaebc33ef32.png)

Letter small capitals ᴠᴡ U+1D20 U

[2015-10-16 22:58] jamesgk opened #125 "Latin turned letters g, insular g, t design issues"
gᵷᵹꝿɽⱹtʇƍ U+0067 U+1D77 U+1D79 U+A77F U+027D U+2C79 U+0074 U+0287 U+018D in Roboto:

![roboto](https://cloud.githubusercontent.com/assets/988758/10555074/9d53e7da-741e-11e5-84df-511bbcad3f0b.png)

According to @moyogo in https://github.com/googlei18n/noto-fonts/issues/507, ᵷꝿ U+1D77 U+A77F should have their bottom aligned to the baseline, ʇ U+0287 should have the bottom of its vertical bar on the

[2015-10-16 23:01] jamesgk opened #126 "IPA modifier letters half ring, tack, plus and minus sign design issue"
˒˓˔˕˖˗ U+02D2 U+02D3 U+02D4 U+02D5 U+02D6 U+02D7 in Roboto, with ‘ho’ for context:

![roboto](https://cloud.githubusercontent.com/assets/988758/10555113/1de085ca-741f-11e5-9327-579746b476cd.png)

According to @moyogo in https://github.com/googlei18n/noto-fonts/issues/508, ˒˓˔˕˖˗ should be slightly bigger. ˔˕˖˗ seem to have the right proportions here, though.

[2015-10-16 23:05] jamesgk commented on #117
Done. There were a couple of things I found that I wasn't sure were considered issues with Roboto:

1. Glyphs ꞴꞵꞶꞷ (U+A7B4 U+A7B5 U+A7B6 U+A7B7) are missing. These seem to be very rare in commonly used fonts, however, so I'm not sure if we want them in Roboto.
2. https://github.com/googlei18n/noto-fonts/issues/505 includes a note that Noto needs "a 'locl' feature for Marshallese (MAH) that produce

[2015-10-16 23:18] #104 closed

[2015-10-17 20:26] moyogo commented on #125
For ʇ U+0287, I corrected the initial comment regarding Arimo and Tinos, and Cousine:
- ʇ U+0287 should have the bottom of its ~~vertical~~ [horizontal] bar on the baseline

[2015-10-19 21:13] roozbehp commented on #117
We want the Marshallese forms. Please open a new Roboto bug for that.

As for A7B4 etc, these are characters encode in Unicode 8.0 that were not part of the original plans for Roboto. Please file a separate bug for all of the Unicode 8.0 ones. You can find them from http://www.unicode.org/Public/UCD/latest/ucd/DerivedAge.txt.

[2015-10-19 22:51] jamesgk opened #127 "Latin cedilla alternate for Marshallese"
Mentioned in https://github.com/googlei18n/noto-fonts/issues/505, for Roboto also we want a locl feature for Marshallese (MAH) that produces the cedilla forms for ĢĶĻŅŖģķļņŗ and for combining cedilla (U+0327).

[2015-10-19 22:54] jamesgk opened #128 "New characters from Unicode 8.0"
There are new characters in Unicode 8.0 which we probably want in Roboto.

The full list is here: http://www.unicode.org/Public/UCD/latest/ucd/DerivedAge.txt. We probably don't want all of the new characters, but maybe the new LGC ones e.g. ꞴꞵꞶꞷ (U+A7B4 .. U+A7B7).

[2015-10-19 22:58] jamesgk commented on #117
With those new issues filed, want to close this? Or keep it open in anticipation of more Noto bugs needing to be investigated?

[2015-10-19 22:59] roozbehp commented on #128
Confirming that we just need the LGC ones, plus two digit forms and LARI SIGN (which I think we already have).

The whole list is:
20BE          ; 8.0 #       LARI SIGN
218A..218B    ; 8.0 #   [2] TURNED DIGIT TWO..TURNED DIGIT THREE
A69E          ; 8.0 #       COMBINING CYRILLIC LETTER EF
A78F          ; 8.0 #       LATIN LETTER SINOLOGICAL DOT
A7B2..A7B7    ; 8.0 #   [6] LATIN CAPITAL LETTER J W

[2015-10-19 23:00] roozbehp commented on #117
If you've looked at everything, let's close it.

[2015-10-19 23:00] #117 closed

[2015-10-30 18:16] jamesgk opened #130 "U+1AB5 combining x-x below issues"
This character is way off even in the hinted binaries (and also in the new output).

See a᪵ U+0061 U+1AB5 in the Thin, Light, and Regular hinted binaries:

![thin-old](https://cloud.githubusercontent.com/assets/988758/10853922/1045a5ee-7ef6-11e5-8f00-199414f5c022.png) ![light-old](https://cloud.githubusercontent.com/assets/988758/10853934/1d2c5514-7ef6-11e5-98f4-25997e54ff75.png) ![regular-old](ht

[2015-11-04 00:38] jamesgk opened #131 "Issues with italicizing, related to overlaps"
Removing overlaps before italicizing caused major problems in new output (for example with ꙙ U+A659), and the code to do this was removed in 1166ac800c164d285208254c9e8128c7b226b7f3. However, not removing overlaps before italicizing introduces different errors (for example with ȶ U+0236).

So it seems we need to actually address the issue in the italicizing code, which is a bit of a black box. We

[2015-11-09 20:55] moyogo opened #132 "IPA: ligature ties (035C 0361) is not positioned properly with superscript letters"
same as https://github.com/googlei18n/noto-fonts/issues/536

See the following example with 0361 from Erik John Anonby, “Mambay”, *Journal of the International Phonetic Association*, Cambridge University Press, 36-2,‎ 2006 (DOI 10.1017/S0025100306002635)
![screen shot 2015-10-25 at 16 16 18](https://cloud.githubusercontent.com/assets/1923747/10716523/f0c97120-7b33-11e5-8adf-e0a5d80a8512.png)

This

[2015-11-09 21:07] moyogo commented on #125
Here’s what gᵷᵹꝿɽⱹtʇẟƍ should look like
![screen shot 2015-11-09 at 20 37 01](https://cloud.githubusercontent.com/assets/1923747/11045828/bfadadd2-8721-11e5-8ac7-55fee4872662.png)

This is what they look like in Version 2.001047
![screen shot 2015-11-09 at 21 06 33](https://cloud.githubusercontent.com/assets/1923747/11046513/ce1316b0-8725-11e5-82a2-6ff17c2e6225.png)

When turned, ascenders become

[2015-11-11 01:10] roozbehp opened #133 "Bitcoin needs to be supported in Roboto"
The proposal is at http://www.unicode.org/L2/L2015/15229-bitcoin-sign.pdf

[2015-11-11 22:44] roozbehp opened #134 "Variant zero should be added to Roboto"
Unicode partially accepted the proposal at http://www.unicode.org/L2/L2015/15268-slashed-zero.pdf and added a variation sequence for a slashed form of the digit 0 with the slash not going outside the oval (with a glyph as seen on page 10 of the proposal). This was fast-tracked for Unicode 9.

The form should be drawn for Roboto, triggered by the sequence "U+0030, U+FE00".

[2015-12-04 07:50] davelab6 opened #142 "Unset bold macStyle bit in Roboto-Black.ttf"
In https://github.com/google/roboto/pull/111#issuecomment-143885330 @roozbehp said,

I appreciate that it will be time consuming to test this, but Since Roboto is used as a reference outside of Google, I would like to see the bold macStyle bit unset in Roboto-Black.ttf in the future; I am asking vendors to adopt correct font family naming practices, and Google's own font development efforts leadin

[2015-12-08 00:44] jamesgk commented on #142
Roozbeh and I discussed this a bit more -- it might be easier to first test binaries with this change on platforms other than Android, since the bit is likely set for Android-related reasons (we can be more confident it won't affect rendering on Windows, Mac, etc). I think I'll have the build scripts generate unset binaries, and the Android target hotfix them to set the bit, for now.

[2015-12-08 05:25] davelab6 commented on #142
Thanks for your consideration @roozbehp and @jamesgk :)

[2015-12-08 12:20] rpluvina opened #143 "Right French quotation marks ( » ) is missing on the weight 300."
it's all in the title,
best,
Raphaël
<img width="755" alt="capture d ecran 2015-12-03 a 19 31 04" src="https://cloud.githubusercontent.com/assets/13452339/11655478/63421f26-9dae-11e5-8014-05a365ad7286.png">

[2015-12-08 12:38] erusev opened #144 "Does this repo include Roboto Mono"
I'm unable to find it.

[2015-12-08 14:38] codeman38 commented on #143
Where are you loading the font from? That looks like an older version; the current version has different designs for "R" and "k".

[2015-12-08 16:43] rpluvina commented on #143
I was loading the font from http://typecast.com/preview/google/Roboto as I thought it was the last version, which isn't. And effectively I just downloaded the last one on my laptop, and all French quotation marks are back there.

[2015-12-08 16:46] #143 closed

[2015-12-26 22:36] tetsuo55 opened #146 "Roboto fonts overriding some NotoColorEmoji on android"
In reference to this issue: https://github.com/Ranks/emojione/issues/177

With the default settings Roboto fonts currently override the following emoji from NotoColorEmoji:

‼️ Double Exclamation Mark http://emojipedia.org/double-exclamation-mark/
⁉️ Exclamation Question Mark http://emojipedia.org/exclamation-question-mark/
©️ Copyright Sign http://emojipedia.org/copyright-sign/
®️ Registered Sign

[2015-12-28 20:50] roozbehp commented on #146
This is intentional, since these characters are defined by Unicode to have a text appearance by default. Please see the Emoji_Presenation property in http://www.unicode.org/Public/emoji/2.0/emoji-data.txt.

[2015-12-28 20:50] #146 closed

[2016-01-06 00:06] jamesgk opened #147 "U+02F2 extends one unit below yMin"
When italicized with latest scripts, ˲ (U+02F2) goes below the font's yMin -555 by one unit. This yMin is platform-imposed and inflexible. Combining marks U+0355 and U+0356 are also offenders.

This issue is apparently not critical, but should be fixed somehow (by changing the italics script? Or by changing the masters themselves?)

[2016-01-06 00:07] jamesgk commented on #147
Note: this only happens in Bold Italic, Black Italic, and Condensed Bold Italic.

[2016-01-06 15:05] davelab6 commented on #147
Is there still a "mask" italic file for a subset of glyphs that are redrawn
and then backslanted?

[2016-01-06 17:11] roozbehp commented on #18
From correspondence with Pieter Lamers ```<pieter.lamers@benjamins.nl>```:

[2016-01-06 19:17] jamesgk commented on #147
Huh, I'd never heard of that. Would you know where to look for it?

[2016-01-07 01:28] jamesgk opened #148 "Combining grapheme joiner (CGJ) with double diacritics"
Same as https://github.com/googlei18n/noto-fonts/issues/588

u͡͏́i (0075 0361 034F 0301 0069) should have the combining acute 0301 on top of the double inverted breve 0361 when the CGF 034F is between the two, whereas ú͡i (0075 0361 0301 0069) should be rendered as the canonically equivalent ú͡i (0075 0301 0361 0069).
See http://www.unicode.org/versions/Unicode8.0.0/ch07.pdf#page=43

Another exa

[2016-01-07 01:29] jamesgk commented on #117
This was done again for issues posted through Dec 8th 2015

[2016-01-16 18:42] user commented on #144
Try this https://github.com/powerline/fonts

[2016-01-21 23:38] pereljon opened #150 "Getting a "markClass @MC_mark_parent_top and @MC_mark_top" error building OpenType"
Here's the error. Tried to compile on Mac OS X and on Ubuntu with same result.
--
Minor version in 2.1289 has too many digits and won't fit into the head table's fontRevision field; rounded to 2.129.
Traceback (most recent call last):
  File "scripts/build-v2.py", line 96, in <module>
    proj.generateFont(th.font, "%s/Thin/Regular/Th"%FAMILYNAME)
  File "/home/administrator/roboto-src/roboto/scri

[2016-01-25 07:40] amaz0mbie opened #151 "Weight 400 bug at web online Roboto font family from google fonts"
I use Roboto font on my website as body text, linked to google fonts library. Everything was just fine, but on the last weeks I noticed, that my body font (400) goes bolder. After I've checked google font url, and there is the same. The weight 400 type is more or less the double as bold as it should, somewhere between 700-and 900.
https://www.google.com/fonts

Am I in the good place to send bug re

[2016-01-25 08:23] davelab6 commented on #151
Please uninstall the fonts as a temporary workaround

[2016-01-25 08:28] amaz0mbie commented on #151
thanks Dave for your quick reply, but should I wait for a bug fix in the near future?

[2016-01-28 20:58] jamesgk commented on #150
Thank you for the bug report! This is a duplicate of https://github.com/behdad/fonttools/issues/453

[2016-01-28 20:58] #150 closed

[2016-01-28 21:06] jamesgk commented on #151
I'm not seeing this bug here, so my guess is that the font should work fine for visitors on your website.

When you had the font installed locally, where had you gotten it from? What operating system / browser were you using?

[2016-01-28 21:13] jamesgk commented on #144
See #64, I guess. The binaries can also be found at https://www.google.com/fonts.

[2016-01-28 21:13] #144 closed

[2016-01-28 21:15] jamesgk commented on #109
Actually, I think there was just one such glyph (U+2050), and it's being correctly decomposed as of a66d29b00655b3638620c0c726a3ef7e97e46559. Closing.

[2016-01-28 21:15] #109 closed

[2016-01-28 21:17] jamesgk commented on #122
I think this could be trivially solved by adding the glyph to the "noitalic" list in [res/roboto.cfg](https://github.com/google/roboto/blob/master/res/roboto.cfg). @roozbehp, is this something that should be addressed?

[2016-01-28 21:23] #56 closed

[2016-01-28 21:25] jamesgk commented on #38
Well, I guess a link to the Fonts page is good enough.

[2016-01-28 21:25] #38 closed

[2016-01-28 21:26] jamesgk commented on #35
I'm convinced at this point that this isn't something we need to worry about. As of 1cae72d2f5fcdf2f8ab02a53846fc0f758725fee, the new values are probably more accurate interpolations of the masters.

[2016-01-28 21:26] #35 closed

[2016-01-29 10:37] amaz0mbie commented on #151
Oh, its a good news, maybe the bug in my local OS.

I did not installed Roboto font locally, I only installed from Adobe typekit Robot Bold, which was free, maybe this is the reason why I see all of my browser in Bold the body texts?

I see the issue on my macbook, el capitan, all of my browser safari, chrome, firefox.

What is the solution to have the complete Roboto font kit on my computer with

[2016-01-29 11:33] amaz0mbie commented on #151
Never mind, I solved it, I downloaded from google fonts, and now everything looks good!

Thanks for your kind help James!

[2016-01-29 11:33] #151 closed

[2016-01-29 17:50] jamesgk commented on #151
Good to hear, thanks!

[2016-02-04 03:39] roozbehp commented on #122
I think so. Common Windows fonts seems to have an upright | too.

@raphlinus can you comment please?

[2016-02-05 07:41] IceMan81 opened #152 "Updated ttf hinted binaries in repo"
Will you be updating the hinted binaries checked into repo?

[2016-02-19 00:11] jamesgk commented on #152
I don't think that will happen any time soon, because no one is actively hinting updated binaries.

We can update the unhinted binaries, though.

[2016-02-19 00:14] IceMan81 commented on #152
Are they manually hinted or using some tool like ttfautohint?

[2016-02-19 00:17] jamesgk opened #153 "Ellipsis spacing uneven at some sizes"
At some smaller sizes (e.g. 32px) the ellipsis (… U+2026) components are unevenly spaced. This is because they are being aligned to a grid via the component flag bit 2. See below:

![roboto](https://cloud.githubusercontent.com/assets/988758/13162644/dcd0b598-d65a-11e5-8b88-b22a51f7b3a1.png)

[2016-02-19 00:18] jamesgk commented on #152
Traditionally they have been manually hinted.

[2016-02-19 00:26] jamesgk opened #154 "Some monotonic and polytonic letters hang too far to the left"
The tonos in Upsilontonos (Ύ U+038E) extends left beyond x=0. It looks nice overhanging lowercase letters, but looks off in many other contexts. See:

![roboto](https://cloud.githubusercontent.com/assets/988758/13162824/5f75413e-d65c-11e5-9317-deccfb876c39.png)

Apparently Roboto v1 didn't have this issue (as much); it may be best to more closely resemble that version of the glyph.

[2016-02-19 00:51] jamesgk commented on #71
Actually, I think this is still invalid. Looking at the source [features.fea](https://github.com/google/roboto/blob/9c764b6dc6e020aedc3373561a09f41f479847e3/src/v2/Roboto_Regular.ufo/features.fea#L1026) you can see that the `onum` feature is mapping default (lining, tabular) numbers to oldstyle (which are proportional) and proportional to *.tnum glyphs (which are tabular), thus two conversions are

[2016-02-19 01:05] IceMan81 commented on #152
OK. Having the updated unhinted binaries would still be useful. Thanks.

[2016-02-19 02:18] davelab6 commented on #152
On 18 February 2016 at 20:05, Gesly George <notifications@github.com> wrote:

Would it be even more useful for them to be ttfautohinted

[2016-02-19 02:28] IceMan81 commented on #152
Yes & No. I was planing on running ttfautohint agaist the unhinted binaries myself, that way I can control the ttfautohint parameters and use the latest freetype libs (patched with infinality). But, if someone just wanted to get the latest version fonts for use hassle free, having ttfautohinted binaries would be useful.

[2016-02-19 07:49] anthrotype commented on #154
Isn't it only at the beginning of a word, hence preceded by a space?

[2016-02-19 19:18] roozbehp commented on #152
I believe we should remove the unhinted binaries but put them in releases instead https://help.github.com/articles/about-releases/

As for autohinted binaries, we would appreciate parameters from people with experience in autohinting. We can put the parameters in the tree and autohinted binaries in the releases too.

[2016-02-20 07:57] moyogo commented on #71
Indeed. Clearer group and glyph names would help.

[2016-02-22 20:28] jamesgk commented on #154
Oh, that's good to know. In that case only the clipping issue is really a problem.

[2016-02-22 22:11] moyogo commented on #154
The issue also applies to monotonic Έ Ή Ί in bold weights or to polytonic Ὺ Ὑ Ὓ Ὕ etc. in most weights, but it’s bit more complicated than that.
They are only at the beginning of words assuming either the character sequences don’t have accented all-caps words or the glyphs displayed don’t show the accents in all-caps words.

[2016-02-24 09:15] IceMan81 commented on #152
These are the parameters I use when I use ttfautohint based on their documentation & recommendations I've come across.

`-l 2 -r 200 -G 200 -W -p -c -I -t -w G`

[2016-02-29 19:59] #71 closed

[2016-03-01 02:00] jamesgk commented on #152
OK, I created a release for a recent, fairly stable build of the TTFs: https://github.com/google/roboto/releases/tag/v2.129. I'll submit a PR to remove the TTFs from version control.

[2016-03-01 02:04] IceMan81 commented on #152
Are these the hinted or the unhinted version?

[2016-03-01 02:08] jamesgk commented on #152
Unhinted. I'll keep the hinted versions in the repository (they're not overwritten by running the tools).

[2016-03-01 04:04] davelab6 commented on #152
Would you like more information about ttfautohint?

[2016-03-02 21:27] codeman38 commented on #152
On the release page, could you add a ZIP file containing all of the TTFs? Currently it looks like the only way to download them is one at a time, which is awkward.

[2016-03-02 21:39] davelab6 commented on #152
If so, please include the license file with the TTFs :)

[2016-03-05 10:20] ligne13 opened #160 "Buggy caracters with Roboto 300 on Chrome"
On Chrome Mac (Version 46.0.2490.86 (64-bit)), the Roboto 300 shows weird caracters in my paragraph text :
![image](https://cloud.githubusercontent.com/assets/81624/13547086/abd1e636-e2c3-11e5-8190-09284191ad25.png)

This is not happening with Roboto 400 and more, and not happening either in Firefox and Safari.

[2016-03-06 01:46] fitojb commented on #160
You don’t have the latest version of Roboto installed. Please download the fonts again, from this repository.

[2016-03-06 20:35] #160 closed

[2016-03-06 20:35] ligne13 commented on #160
thanks

[2016-03-08 02:02] xiangyexiao opened #161 "Prime ′ (U+2032) and Double Prime ″ (U+2033) should be slanted to left"
Similar issue as in this Noto bug: https://github.com/googlei18n/noto-fonts/issues/510

Prime ′ (U+2032) and Double Prime ″ (U+2033) should be slanted to left, based on Microsoft's recommendation:  https://www.microsoft.com/typography/developers/fdsspec/symbol.aspx.
They should be mirrored glyphs of Reversed Prime ‵ (U+2035) and Reversed Double Prime ‶(2036).

<img width="910" alt="screen shot 201

[2016-03-08 03:37] roozbehp commented on #161
I had a chat with @christianrobertson about this about a year ago. He slightly preferred the Roboto quotes to be upright IIRC, but considering what we have unearthed since then, I strongly believe they should be angled.

/cc @raphlinus

[2016-03-08 17:57] jungshik commented on #161
And, there's a consistency concern because 1) U+2034 (triple prime) is slanted while U+2032 and U+2033 are not 2) Reverse counterparts to U+203[23], U+203[56] are slanted while  U+203[23] are not.

[2016-03-10 19:53] jamesgk commented on #152
That's done, though I noticed just recently that https://github.com/google/roboto/releases/latest (which points to v2.129 as of this posting) contains incorrect small caps mappings as described at https://github.com/behdad/fonttools/issues/504#issuecomment-195013791.

What's troubling is that the tests don't catch this; I'll update them and create a new release with this fixed ASAP (luckily this i

[2016-03-16 18:29] jamesgk opened #164 "dotlessi (ı U+0131) maps to Idotaccent.smcp"
The lowercase dotlessi (ı U+0131) maps to Idotaccent.smcp (corresponding to İ U+0130) via the smcp feature, which seems wrong. This can be seen in the hinted binaries.

I'm not sure what dotlessi should be mapped to. Normal I.smcp? But for now it seems it's better to have it unmapped than to map to something wrong.

[2016-03-16 19:40] roozbehp commented on #164
It should map to normal I.smcp.

[2016-03-17 01:12] moyogo commented on #164
In Turkish, one would also expect i -> Idotaccent.scmp instead of i -> I.scmp.
`hb-shape --language=tr --features=smcp,c2sc --no-positions --no-clusters Roboto-Regular.ttf ıiIİ`
`[Idotaccent.smcp|I.smcp|I.smcp|Idotaccent.smcp]`
Instead, it should be:
`[I.smcp|Idotaccent.smcp|I.smcp|Idotaccent.smcp]`

[2016-03-17 11:24] moyogo commented on #164
+ You probably want to do that for all the languages using the dotlessi ı.

[2016-03-17 23:29] jamesgk commented on #87
The numbering scheme for Roboto was changed to only include three minor digits in ea52110dac0c0c0a7b27c24107d428e16c505a6d, the latest release now contains consistent numbers.

[2016-03-17 23:29] #87 closed

[2016-03-17 23:32] jamesgk commented on #153
This was fixed for the android target as part of #162, but keeping this open because a) we may want this changed for all outputs and b) this could be changed somewhere other than the post-production scripts.

[2016-03-17 23:35] jamesgk commented on #164
Original issue fixed in #165, keeping open for follow-up issue.

[2016-03-17 23:44] jamesgk commented on #79
We've been doing this for a while, no target has these cmap entries.

[2016-03-17 23:44] #79 closed

[2016-03-17 23:46] jamesgk commented on #77
No targets include these records anymore.

[2016-03-17 23:46] #77 closed

[2016-03-17 23:54] jamesgk commented on #37
This should be fixed (finally!) in the latest release: https://github.com/google/roboto/releases

[2016-03-17 23:54] #37 closed

[2016-03-17 23:54] jamesgk commented on #80
I suspect this is related to #37

[2016-03-17 23:54] #80 closed

[2016-03-17 23:58] jamesgk commented on #152
Latest release fixed; keeping this open for the task of including hinted binaries in releases

[2016-03-18 00:03] jamesgk commented on #150
Note: this should be fixed upstream. Thanks again for the report.

[2016-03-22 23:44] #86 closed

[2016-03-23 19:22] jamesgk commented on #18
As it turns out, the desired alternate chi glyph is already present in the sources (as "chi.alt"). So this should be an easy fix.

[2016-03-24 18:07] #18 closed

[2016-03-24 20:28] jamesgk commented on #154
OK, I'm starting to suspect this is just another bug in the tools. This change: https://github.com/google/roboto/commit/56ad4064e8eeff6c320952daef8767188ae7fa63#diff-c95f738dd7cf75477ba26d394b6dffc5L37 (specifically, moving the `alignComponentsToAnchors` call to after `g.move`) essentially caused accent offsets from rules in res/diacritics.txt to be ignored, thus the tonos is not moved as far righ

[2016-03-25 06:59] kodermax opened #169 "Local Install"
How can i use roboto fonts local?
not use http://font.google....

[2016-03-29 19:42] jamesgk commented on #169
I'm not 100% sure I understand the issue, but if you don't want to download TTFs from google.com/fonts you can get them instead from https://github.com/google/roboto/releases/latest (in output.zip).

[2016-03-29 19:42] #169 closed

[2016-03-30 15:07] antpaw opened #172 "Missing RobotoCondensed-Medium"
Hey, is there a way you could include RobotoCondensed-Medium into the project? Thanks

[2016-03-30 17:26] jamesgk commented on #172
You can add instances yourself by editing scripts/build-v2.py and running the tools! Here's something I quickly came up with my adding the following (somewhere after `bdcnq` is assigned and the last call to `proj.generateTTFs()` is called):

[code]

0.35 interpolation may not be the best parameter, however. I don't think we have any plans to add a proper target for this ourselves.

[RobotoCondense

[2016-03-30 17:26] #172 closed

[2016-03-31 07:24] antpaw commented on #172
thank you

[2016-04-04 21:21] nameanyone opened #174 "rendering in Firefox"
Don't know if it's an issue with Firefox or Roboto, but both releases from here render like below. Only in Firefox, and only Roboto from this repo. Google Fonts version is fine, Chrome is fine with either. Didn't check on Linux yet, I'm on Windows at the moment.

![2016-04-04_12-16-44](https://cloud.githubusercontent.com/assets/212368/14263519/e3179366-fa6f-11e5-8749-dbb79c341b0c.png)

[2016-04-06 23:31] jamesgk commented on #174
I think this is an issue with all unhinted Roboto fonts. The "fix" would be to use the fonts in hinted/, and I'm planning on including updated hinted fonts in the next release.

A couple of notes:
- From my testing it seems that this affects Windows 7 but not 8.1, on IE as well as Firefox
- It's also an issue with the old unhinted fonts at https://github.com/google/roboto/tree/773e4c090fe012ecf0b0

[2016-04-07 01:37] jamesgk commented on #174
Latest release contains updated hinted fonts.

[2016-04-07 01:37] #174 closed

[2016-04-08 04:21] IceMan81 commented on #152
@jamesgk The hinted version in the just released v2.132 looks like old versions that don't match the version of the unhinted fonts.

[2016-04-08 20:36] jamesgk commented on #152
In some ways, yes. Basically it's versions of the fonts in hinted/ which have had some relatively easy fixes applied to them (specifically, those in [touchup_for_web.py](https://github.com/google/roboto/blob/master/scripts/touchup_for_web.py)). So we still don't have autohinted binaries in the release (thus this issue is still open).

[2016-04-09 15:13] adrientetar commented on #152
So there are no plans to have hints source in the repository built with the fonts?

[2016-04-11 22:37] jamesgk commented on #152
I guess the goal is to include autohinted fonts built from source in the releases. But there is no specific plan to do so.

[2016-04-26 17:45] jamesgk opened #175 "Re-consolidate glyph classes in feature text"
Since https://github.com/behdad/fonttools/issues/504 has been fixed, the workarounds introduced by  https://github.com/google/roboto/pull/165 can be reverted. While we're at it, we might consolidate even more of the feature text (perhaps moving all of it out of res/).

[2016-04-28 12:39] Battlehorn commented on #80
still not fixed..

[2016-04-28 12:43] Battlehorn commented on #37
The version was 2.132......roboto regular problem is still not fixed..

[2016-04-28 18:38] jamesgk commented on #37
I'm unable to reproduce this issue on Windows 8.1 with the fonts in roboto-hinted.zip from the latest release. Could you give some details about where you're seeing a problem?

[2016-04-28 19:19] davelab6 commented on #37
Maybe make sure to uninstall any previous copies?

[2016-05-09 20:35] #175 closed

[2016-05-13 01:31] iwsfutcmd opened #178 "Add crunch and android TTF files to release"
I was talking to Roozbeh at the UTC meeting today about my difficulties building the TTF files from source, and he recommended filing an issue requesting adding the built files to a release. I see that 'roboto-unhinted' is available in the releases (which I assume to be the results of "make v2") but the results of "make crunch" and "make android" are not present - can they be added to a release, t

[2016-05-16 20:42] jungshik opened #179 "Roboto Thin: do we still need to set usWeightClass to 250?"
Roboto Thin has usWeightClass set to 250 because Windows GDI cannot handle weights less than a certain value.

However, other platforms do not have this issue. It's likely that Windows DW does not have this issue, either.

Actually, in Chrome on Linux and Chrome OS, having usWeightClass set to 250 is problematic. When Roboto is installed locally, Thin and Light cannot be distinguished.

See the fi

[2016-05-17 01:10] davelab6 commented on #179
I thought that has been fixed upstream already

[2016-05-18 17:19] seanfrasure opened #180 "Inside of "e" is slanted"
Got this on mobile:
![img_20160518_131844](https://cloud.githubusercontent.com/assets/9723817/15368305/20241c5e-1cfb-11e6-8ed1-4cf3b29f1ee2.JPG)
Its only with lowercase ...

[2016-05-18 17:30] seanfrasure opened #181 "Interior of "M" doesn't look right"
Yet again... mobile
![img_20160518_132610](https://cloud.githubusercontent.com/assets/9723817/15368602/a3abdc5a-1cfc-11e6-80b4-c427376d0fd2.JPG)

[2016-05-18 18:46] jungshik commented on #179
Upstream where? Skia? Blink? fontconfig?  I vaguely remember that @behdad did something in fontconfig, but it's not in any of released versions (the latest is about 2 years ago and his change was landed about a year ago, IIRC).

Anyway, using 250 for Roboto Thin does not make much sense. Roboto Thin is really thin.

[2016-05-18 19:08] davelab6 commented on #179
Given the continued dominance of Windows desktops, I don't think its good for end users to have fonts with values under 250 anywhere except distribution channels focused on non-windows systems.

[2016-05-18 19:50] jungshik commented on #179
Well, it's Windows GDI. DW is not likely to have that problem any more.

[2016-05-19 00:03] jungshik commented on #164
So, Azeri needs the same treatment as Turkish.

Now I wonder if smcp feature should follow the Unicode special casing rules for Lithuanian as well. If it does, it should be a separate bug, though.
And, how about Greek? It's not in the Unicode standard yet, but there's a simple implementation in CLDR transltierator : el-Upper. A more comprehensive set of rules is being implemented, too).

[2016-05-19 07:07] moyogo commented on #164
As far as I can tell, I ı is used in Turkic languages like Azeri, Gagauz, Kazakh, Crimean Tatar, Turkish (and briefly in Tatar between 1999 and 2004) but also Athapascan languages like Chipewyan, North Slavey, South Slavey and in the Iranian language Zazaki (Dimli and Kirmanjki). There are others like Krymchak, Khorasani Turkic but they do not have OT language tags.

For Lithuanian, I guess it mak

[2016-05-19 07:28] moyogo commented on #164
Sorry I mixed things up, languages using İ i are relevant, not those using I ı. The Athapascan languages mentioned don’t use İ i, but the other languages do.

[2016-05-22 15:49] davelab6 commented on #179
http://typedrawers.com/discussion/comment/20149/#Comment_20149

[2016-05-27 20:03] jungshik commented on #179
Well, usWeightClass=250 makes it impossible to use 'Roboto Thin' with Chrome OS or Linux Chrome because the released version of fontconfig returns the same fontweight for Roboto-Thin and Roboto-Light.

Try 'fc-query Roboto-Thin.ttf' and 'fc-query Roboto-Light.ttf'. @behdad changed fontconfig to return different fontweight values for those two, but it's not yet released.

Nonetheless, I really don'

[2016-05-27 20:20] jungshik opened #182 "touch_up_for_web and touch_up_for_cros do not update the version number in name table"
touch_up_for_{web,cros) do not update the version number in the name table.

They should copy the version number from unhinted.

[2016-05-27 21:30] davelab6 commented on #179
Sadly our sense of "legacy" is not the lived experience of most people using desktop computers in the world.

Behdad's fontconfig fix is likely to get deployed much faster than replacements to Windows applications using GDI.

ChromeOS has a long way to go ;) Windows is still around 85%, per https://www.netmarketshare.com/operating-system-market-share.aspx?qprid=10&qpcustomd=0

[2016-05-28 12:01] moyogo opened #183 "Latin: combining diacritics positioning broken on historical letters"
http://folk.uib.no/hnooh/mufi/specs/MUFI-Alphabetic-4-0.pdf has many composed characters that use combining diacritics. The Unicode characters needed are in Roboto but they do not have the proper positioning information, diacritics are not positioned correctly. These diacritics should be visually centered on the base letters and the ogonek above should be centered and attached to the base letters.

[2016-05-30 13:12] lepta-ua opened #184 "Bug with "rt" letters and break-word (on desktop Chrome)"
Problem with lowercase "rt" letters combinations.

Watch details on stackoverflow - http://stackoverflow.com/questions/37512815/bug-with-roboto-font-and-break-word-on-desktop-chrome

[2016-05-31 17:40] jungshik commented on #179
I'm not comparing Windows against Chrome OS. I'm talking about Android, Mac, iOS, Chrome OS all combined + Windows applications (that have moved onto DirectWrite : Edge, Chrome, Firefox, IE 11) vs Windows applications still using GDI.

Anyway, for Windows, we can have a special version of Roboto-Thin for Windows applications that still use GDI.

For web fonts served by Google Fonts, none of this m

[2016-05-31 17:57] davelab6 commented on #179
On 31 May 2016 at 11:40, jungshik <notifications@github.com> wrote:

I don't understand this; the fonts served by Google Fonts are massively
downloaded into Windows desktops and installed.

[2016-06-01 01:03] jamesgk commented on #184
I don't think this is a font bug. It seems that the browser is calculating the width of the enclosing box before applying kerning, then when the r and t are pushed apart the text wraps because the line has gotten longer.

[2016-06-01 01:03] #184 closed

[2016-06-01 01:04] jamesgk commented on #180
Yikes. Can you provide more details as to where you saw this? Any particular app / device / Android version? I can't reproduce myself.

[2016-06-01 11:27] seanfrasure commented on #180
Android Version: Android 4.2.2
App: Google Chrome

[2016-06-01 11:27] seanfrasure commented on #181
Android Version: 4.2.2
App: Google Chrome

[2016-06-03 20:58] jungshik opened #188 "marking 'black' as 'bold in OS/2 and head table: should it be a part of font generation?"
While going through git log, I was alarmed by the removal of 'marking Black as bold in OS/2 and head'. Then, later I was relieved to see it be added back for Android and web targets in tempoarty_touchup.py.

I guess there is not a provision in the spec on that practice, but there's an example  as used by Arial family at https://www.microsoft.com/typography/otspec/namesmp.htm

For Robot, as you fou

[2016-06-03 21:22] davelab6 commented on #188
Why do you recommend setting the bold bit for non-bold fonts?

The example at https://www.microsoft.com/typography/otspec/namesmp.htm is
just an example, and not a good one I think.

[2016-06-05 00:03] fitojb commented on #181
Is this screenshot depicting a web page or the application’s UI? I suspect the former, since this image looks like fake bold, which is fixable by adding more weights to your web page.

[2016-06-05 01:00] seanfrasure commented on #181
The screenshot is zoomed in from a web page. It is bold and I only use the default HTML <b> tag and not other styles/weights.

[2016-06-05 07:59] fitojb commented on #181
Then the maintainer of that page should add a call to the bold weight of Roboto; otherwise you’ll keep seeing this fake (synthetic) bold.

Not a font bug.

[2016-06-07 14:30] ratfox opened #189 "Issue with ligatures"
Not all products use the triple ligatures ffi and ffl. Google products, for instance, use fi and fl, but not ffi and ffl.

In some sizes, particularly in 12pt, that means that in words like efficient and affluent, the bars of the two f's are not aligned. Which is not pretty.

[2016-06-07 20:27] marekjez86 commented on #183
MUFI coverage in Roboto (when compared to Caudex [pinkish color line])

![caudex-roboto-mufi](https://cloud.githubusercontent.com/assets/13322623/15873450/999e5866-2cb3-11e6-9029-da35f980a2c8.jpg)

[2016-06-10 14:08] johnnye opened #190 "Incorrect license text"
Rather then including the whole of the apache2 license in the [LICENSE](https://github.com/google/roboto/commit/ba03b84b90b50afd99f9688059447bc545e5c0e1) file, which does not at the moment list who owns the copyright, would it not be better to include the old attribution (currently listed in it's boilerplate form with no date or owner in the license file) see below.

[code]

[2016-06-13 18:02] jamesgk commented on #189
The cause of this can be seen in the [dlig and liga feature source](https://github.com/google/roboto/blob/4ee04b9735ff0d252124816c3413d37eddf204fe/src/v2/Roboto_Regular.ufo/features.fea#L683) (which has never changed in v2).

In `liga`, one can only get ffi through f_f + i, but can only get f_f through the `dlig` feature which by my understanding is not active by default. @roozbehp, can you advise

[2016-06-13 18:12] jamesgk commented on #190
Well, the boilerplate form is meant to be included in the existing license file; see the preceding paragraph. As for including the whole license instead of a notice, we're just following protocol. I'm always very hesitant to ad-lib this stuff without specific direction from someone in the OSS office at Google so I'm going to keep everything as-is for now.

[2016-06-13 18:12] #190 closed

[2016-06-13 18:15] adrientetar commented on #189
I think the current feature code somehow assumes that dlig will be on all the time, which is wrong. We should put optional feature after the always-on one, i.e.:

1. use f f in the liga block instead of f_f
2. put dlig after liga such that sub f f by f_f will only happen if no f_f_i ligature was substituted already.

[2016-06-13 23:05] #189 closed

[2016-06-13 23:10] jamesgk commented on #181
Ahh, good call @fitojb. This is definitely not a rendering of the actual Roboto-Bold font.

[2016-06-13 23:10] #181 closed

[2016-06-13 23:11] jamesgk commented on #180
Duplicate of https://github.com/google/roboto/issues/181

[2016-06-13 23:11] #180 closed

[2016-06-13 23:38] #179 closed

[2016-06-13 23:38] #182 closed

[2016-06-14 23:41] jamesgk commented on #178
Done. Thanks

[2016-06-14 23:41] #178 closed

[2016-06-14 23:43] jamesgk commented on #178
Ah, did you actually want the output from "make crunch" as well? Not sure if it's useful but if you think so let me know and I can add it in.

[2016-06-14 23:50] jamesgk commented on #153
Actually, this should be closed. We can open new issues for the follow-up items if needed.

[2016-06-14 23:50] #153 closed

[2016-06-28 00:30] volomike opened #194 "Roboto on Chromium with Ubuntu 14.04 LTS -- Normal Weight Font Shown Bold"
There's a Roboto font bug when viewing Roboto regular font, normal weight (400) on Chromium with Ubuntu 14.04 LTS. (Version of Chromium is listed as 50.0.2661.102.) It displays the font as bold instead of normal. This does not occur on Windows or MacOS. (Note, not that it might even matter, but I'm using Ubuntu 14.04 inside a Virtualbox VM on MacOS.)

[2016-06-28 00:36] davelab6 commented on #194
Please try uninstalling

[2016-06-28 00:38] volomike commented on #194
I guess I don't understand? It's downloaded live in a web page, not installed.

[2016-06-28 00:46] volomike commented on #194
Note that the problem doesn't occur on Firefox with Ubuntu 14.04. Just Chromium and Google Chrome.

[2016-06-28 02:55] davelab6 commented on #194
Chrome has a bug where if the don't is installed it does this

[2016-06-28 07:55] jmontane opened #195 "Upppercase L + quote/apostrophe kerning should be improved"
Hi,
Uppercase L followed by apostrophe character ' are adjusted for English quote case use, but other languages use ' char for elisions. Mainly French, and other languages like Catalan, use ' to "merge" two words, and current «L'» Roboto kerning joins these words excessively.

For instance,
Le+arbre (French words for «The tree» ), become «L'arbre». And the weird effect with «L'» kerning arises.

F

[2016-06-30 09:00] xmllmx opened #196 "What's the difference between roboto-android and roboto-unhinted?"
Google says:

What's the difference between roboto-android and roboto-unhinted?

see also: http://stackoverflow.com/questions/38118283/whats-the-difference-between-roboto-android-and-roboto-unhinted

[2016-07-03 00:11] jamesgk commented on #196
See here for a detailed description of hinting:
https://en.wikipedia.org/wiki/Font_hinting

But practically speaking, this is what happens if you use unhinted Roboto on Windows:
https://github.com/google/roboto/issues/174

This is because the hinted versions contain more data to help Windows fit contours to pixels. But since this data makes the font files significantly larger, you should probably

[2016-07-03 00:11] #196 closed

[2016-07-03 00:15] jamesgk commented on #196
Whoops, misread your question as the difference between hinted and unhinted. The differences between roboto-unhinted and roboto-android are: 1) The Android version has had glyph outlines optimized and some data dropped which Android doesn't use anyways. You can see this in the smaller font file sizes. 2) The metrics of the font are manually set to be compatible with older versions of Roboto, with

[2016-07-05 20:06] czuboka commented on #37
A client of mine has started using Roboto in Microsoft Office on Windows machines, and are having problems with the way the font is rendering on screen. The font is displaying very poorly and is nearly impossible to read without zooming in quite a ways. Has anyone encountered this issue? Client sent me this screen shot showing the different between how Roboto displays vs Arial.

![arialvsroboto](h

[2016-07-06 17:14] jamesgk commented on #37
@czuboka my first impression is that this looks like unhinted Roboto. Could you first make sure that your client is using the hinted version of Roboto? Thanks.

[2016-07-08 17:30] czuboka commented on #37
@jamesgk can you provide me a link to the latest version with hinting so I can be sure I am sending my client the best solution. There are a lot of variations floating around. Thanks!

[2016-07-08 18:52] jamesgk commented on #37
The latest version of Roboto can be found at https://github.com/google/roboto/releases; the current version with hinting is https://github.com/google/roboto/releases/download/v2.134/roboto-hinted.zip.

[2016-07-10 17:44] roozbehp opened #197 "Accents for Cyrillic may not be placed correctly"
From a tweet: https://twitter.com/achkasov/status/751839938950393857

I tried the three sequences I saw in the screenshots, я́, о́, and ы́, which looked goods in lowercase, but not good in uppercase. Also, there's probably many more common Cyrillic sequences. @moyogo may have a list somewhere, but at least look at CLDR exemplars in both lowercase and uppercase.

[2016-07-12 20:57] jamesgk commented on #197
Rendering of all the CLDR exemplars (I think) with latest Roboto:

![regular](https://cloud.githubusercontent.com/assets/988758/16783309/5e66aeec-4838-11e6-8b42-c9aeb78b3c89.png)

The following glyphs are missing anchor data in Roboto:

[code]

That is, they don't inherit anchors from components or have anchors manually set. Some seem to be obviously similar to glyphs with anchors; it would probab

[2016-07-12 21:15] jamesgk commented on #197
Oh, I forgot that I'd made the following local change while testing:

[code]

So the fonts in the latest release don't actually produce the results I posted (they have more missing anchors). But I think this is a safe first step to take, leaving the problem of missing anchors in sources.

[2016-07-13 20:52] jamesgk commented on #152
Since a ttfautohint wrapper was added to fontmake (https://github.com/googlei18n/fontmake/pull/104), I've been experimenting with this a bit. @davelab6 (or anyone else that's interested), would you like to take a look at the attached autohinted Roboto output? "roboto_ah1.ttf" was created without any arguments to ttfautohint, "roboto_ah2.ttf" was created with arguments `-l 2 -r 200 -G 200 -W -p -c

[2016-07-13 23:11] davelab6 commented on #152
Awesome! Im happy to take a look

[2016-07-14 18:35] jamesgk commented on #152
I pushed branch https://github.com/google/roboto/tree/ttfautohint with the code to produce these fonts, if that's helpful.

[2016-07-14 19:04] volomike commented on #194
I finally got a moment to delete my old ~/.config/chromium profile, and then did "apt-get --purge remove chromium-*", and then did apt-get update; apt-get install chromium-browser. At that point, I went back to the Roboto font page on Google Fonts. Unfortunately, the problem still exists on Ubuntu Linux 14.04 with Chromium browser.

[2016-07-14 19:07] davelab6 commented on #194
Sorry my phone keyboard mangled my reply; its not Chromium to uninstall but the fonts, which may be in `~/.fonts` or `/usr/share/` somewhere

[2016-07-14 19:44] volomike commented on #194
Thanks. That fixed me. I had to remove the Roboto font as a system font because for some reason it interferes when viewing in a web page. On Ubuntu 14.04, the fonts folder path is: ~/.local/share/fonts. I did rm Roboto-* inside that folder, closed my browser, reopened it, went to Google Web Fonts, and the problem was resolved.

[2016-07-19 18:50] jungshik commented on #194
There are multiple points of failures: 1. fontconfig on Ubutun 14.04    2. Chrome (old version) not being able to deal with more than 2 weights. I believe 51 is fine (you're using 50.x), but it may have to be 52 (I have to check the changelog).

Anyway, this is not a Roboto font bug and should be closed.

[2016-07-22 14:29] davelab6 commented on #134
Would be great to have this in Roboto Mono, along with an OpenType 'slashed zero' feature

[2016-07-22 17:27] roozbehp commented on #134
@davelab6 Roboto Mono is not maintained here. This repo is just for normal Roboto.

[2016-07-25 23:24] jamesgk commented on #197
Other marks besides acute seem to behave as expected. The mark is displaced on all the same glyphs, and additionally К. Renderings for U+0300 through U+030F attached.

![300](https://cloud.githubusercontent.com/assets/988758/17120733/52886ef8-5283-11e6-8cf8-302dc7596520.png)
![301](https://cloud.githubusercontent.com/assets/988758/17120735/5298f12e-5283-11e6-88cc-ffaf28601528.png)
![302](https://c

[2016-07-25 23:54] #194 closed

[2016-07-28 13:22] diagramatics opened #200 "Webfont fallbacks on missing glyphs in Roboto 400 doesn't work properly in OSX Chrome"
Not sure if this is the right place to report webfont related issues but I'll give this a shot. Apologies if this is the wrong place as I'm really stumped about where to report this issue to.

We are using Roboto in our site at the moment and noticed that Roboto 400 doesn't display the fallback font if the glyphs used with Roboto is missing. For example, loading Roboto with `font-family: Roboto, s

[2016-07-28 15:02] davelab6 commented on #200
Are you using the web font via the google fonts api or self hosting?

Github.com/google/fonts/issues might be better for this

[2016-07-29 01:24] diagramatics commented on #200
In this bug's case, both. We self-hosted it but I skimmed over YouTube and Google Fonts and they both are using Google Fonts.

[2016-07-31 14:01] diagramatics commented on #200
Just found out that the issue belongs to Typekit. I installed Roboto 400, 400 italic, 700 and 700 italic over at Typekit and it seems like the way Typekit handles it produces issues on the font stack. This is what Chrome tells me:

![image](https://cloud.githubusercontent.com/assets/5153378/17276972/efca33e4-577a-11e6-8daf-640f5a5455b0.png)

Anyway closing this issue since it's a Typekit/Adobe iss

[2016-07-31 14:01] #200 closed

[2016-08-06 01:17] pedzed opened #201 "Add to Bower package manager"
Any chance to get this on https://bower.io?

[2016-08-08 19:47] jamesgk commented on #201
Could you elaborate on what specifically you are requesting? If it relates to serving the Roboto webfont, this may not be the place to file an issue. cc @davelab6

[2016-08-08 19:59] pedzed commented on #201
Yeah, that's what I would like to see.

The Roboto font is used quite a lot on the web and many people want a local copy (e.g. as fallback), rather than, or in combination with a CDN like https://fonts.google.com. Bower is just a package manager which lets you easily download and maintain packages.

I don't mind providing the CSS/SCSS (and perhaps also LESS) if wanted? I also don't mind it will be

[2016-08-08 20:16] jamesgk commented on #201
I don't understand. You want a package that will provide people with local copies of Roboto? Why not just download them from the google fonts site? Why is CSS necessary at all?

[2016-08-08 22:23] pedzed commented on #201
Because you need to add [`@font-face`](https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face). Another way to get it to work, is to ask people to download the Roboto font to their system, but that's of course not an option.

Ease of use. For example, if the font has an update, or if the stylesheets have an update, you can easily update it. It applies to any dependency/package manger. If you'

[2016-08-08 23:00] jamesgk commented on #201
OK sorry, I thought you wanted a way for users to get local copies of Roboto but now it sounds like you want a way for developers to host and deliver their own copies. But in any case I don't think it's a good idea to put yet another version of Roboto (i.e. whatever version exists in this hypothetical package) out in the wild. If the fonts at google.com/fonts are insufficient in any way, I'd much

[2016-08-09 11:17] pedzed commented on #201
The fonts are very good (although I like to see more thinner fonts like Roboto and Lato). The thing is that I know people who want to have the fonts on their server in case you cannot connect to the CDN. For example, the CDN might be down (although unlikely for Google, it's possible). Or, what they tell me is that they want their fonts to work when they are developing without internet access. They

[2016-08-24 02:51] roozbehp opened #202 "U+033B COMBINING SQUARE BELOW should look like a rectangle"
According to the Unicode errata, dated 2016-08-23: "The glyph shown for U+033B COMBINING SQUARE BELOW is incorrect and will be updated in a future version of the standard. The images below show the current glyph as it appears in the charts (on the left) and the revised glyph (on the right)."

![](http://www.unicode.org/errata/U033B-glyphs.jpg)

[2016-08-24 14:13] nolram88 commented on #201
This is also my primary concern. I have clients that have very unreliable internet. Their intranet (where the webapp lives) is however fine. It would be nice to have some kind of fallback if a user does not have internet (as unlikely as that sounds).

[2016-08-24 17:18] jamesgk commented on #201
For this relatively uncommon case, I think it's fine to expect people to just download the font from fonts.google.com. My position is still that I don't want to have to worry about maintaining yet another source of Roboto out in the wild.

[2016-08-25 06:59] brawer opened #203 "Wrong language system tag for Turkish"
The `GSUB` and `GPOS` tables of Roboto have special lookups for language `TUR`. However, this is actually not a registered [OpenType language system tag](https://www.microsoft.com/typography/otspec/languagetags.htm). To enable lookups for the Turkish language, Roboto should use the language system tag `TRK` instead of `TUR`. (The other tags are fine, only `TUR` is undefined).

[code]

[2016-08-25 11:29] brawer commented on #203
I’ve used this file: https://github.com/google/roboto/blob/master/hinted/Roboto-Regular.ttf

[2016-08-25 16:29] adrientetar commented on #203
This was fixed in #193, I believe.

[2016-08-27 01:37] davelab6 commented on #64
I suggest this can be closed

[2016-08-29 08:59] Zeynalselver opened #204 "Symbols of Azerbaijan manat"
**Azerbaycan** need to add letters, symbols of Azerbaijan **manat**

[2016-08-30 22:24] jungshik opened #205 "Make a web font version tarball and include in release"
```make v2 && make web``` will produce a web font version, but building that way is not for everyone.

If some packagers want to include web font version, it'd be handy to have a web font version tarball as a part of release.

/cc @jamesgk @xiangyexiao @roozbehp

[2016-08-31 07:22] jamesgk commented on #205
Ah, sorry this is so confusing, but the `roboto-hinted` release actually should be the result of `make && make web`. This is because the fonts in the `hinted/` directory contain old bugs which are fixed by the web target. So probably the fonts in the release should be renamed to `roboto-web`.

[2016-08-31 07:26] jamesgk commented on #203
Yea, the fonts in `hinted/` contain bugs which are fixed by post-production scripts. The fonts in the latest release should be correct.

[2016-08-31 16:24] xiangyexiao commented on #205
if we add 'web' there, we may also need to add 'win' and 'linux'. So the name become roboto-linux-web-win? another option is to release a README introducing which package to use.

[2016-09-30 05:25] adong commented on #200
This happened to me, and I think its Chrome's issue.

[2016-10-02 07:25] fitojb opened #206 "Inverted interrobang (U+2E18) doesn’t descend below the baseline…"
… which is an inconsistency with respect to the regular inverted question mark (U+00BF).

![captura de pantalla de 2016-10-02 02-23-32](https://cloud.githubusercontent.com/assets/554953/19019269/6790e556-8847-11e6-820e-b9bedb634017.png)

[2016-10-12 17:39] #154 closed

[2016-10-20 13:07] monstanl opened #208 "Text combination of AE is being rendered as Æ in font-weight:400"
Strange behaivor of the text combination AE being renderd as Æ. This only happens when the font-weight is set on Roboto 400. This letter combination finds its origin as the letter of the Old English (Anglo-Saxon) alphabet. This also happends when the letters are lowercase.

[2016-10-20 21:28] jamesgk commented on #208
I'm unable to reproduce, could you provide more details as to where you saw this?

[2016-10-21 08:03] monstanl commented on #208
It turned out I was using an older version installed on my local machine, after installing the set the problem was gone.

[2016-10-21 08:03] #208 closed

[2016-11-01 18:29] davelab6 commented on #76
v2.134/Roboto-Regular.ttf still has this issue; since its GDEF data, I think we can hotfix this in the hinted fonts :)

[2016-11-01 19:31] davelab6 commented on #203
@jamesgk can this be closed?

[2016-11-01 19:32] jamesgk commented on #203
Yep, thanks.

[2016-11-01 19:32] #203 closed

[2016-11-01 19:33] davelab6 commented on #197
@alexeiva please could you review this in https://github.com/google/roboto/releases/download/v2.134/roboto-unhinted.zip and https://github.com/google/roboto/releases/download/v2.134/roboto-hinted.zip

[2016-11-01 21:33] alexeiva commented on #197
From @jamesgk test, glyphs `БДКЛПФЦШЩЪЬЂЉЊЋЏҐҔҚҜҢҤҲҶҸӉ
бъьђљњћџґҕқҝңҥүұҳҷҹӊ` do not have top accents in the UFO source. Although these tested combinations are superfluous.

To fix the mentioned issue on twitter here is a list of vowels that require combined `acute` to mark stressed syllables:

`а́е́ё́и́о́у́ы́є́э́і́ї́ю́я́ү́ұ́ӑ́ӓ́ӗ́ә́ӛ́ӣ́ӥ́ӧ́ө́ӫ́ӭ́ӯ́ӱ́ӳ́ӹ́`
`А́Е́Ё́И́О́У́Ы́Є́Э́І́Ї́Ю́Я́Ү́Ұ́Ӑ́Ӓ́Ӗ́Ә́Ӛ́Ӣ

[2016-11-01 21:38] jamesgk commented on #197
Ah yea, sorry, as I mentioned before the fonts in the latest release are missing more anchors than the ones I was testing with in this thread. I was going to add another release soon but got caught up with other stuff.

[2016-11-01 21:51] davelab6 commented on #197
Thank you Alexei! :)

[2016-11-03 01:17] jamesgk commented on #197
FYI I pushed a new release, which should have more anchors.

[2016-11-03 02:14] Blackglade opened #210 "Font Weight"
So I've noticed a bug and through a bit of research I'm not exactly sure if it's the browsers (Edge, Chrome, Safari) doing this or the font itself. Importing the Roboto Font (100, 300, 400, 500, 700, 900). The font weights of 700 and 900 look exactly the same and there is no change. While going from 500 to 600 and 600 to 700 there is a change despite Roboto not being offered under the 600 weight.

[2016-11-03 03:06] davelab6 commented on #210
Try uninstalling the fonts

[2016-11-03 03:30] Blackglade commented on #210
Okay so I definitely noticed a difference when I uninstalled the fonts, but now different weights such as 100 and 300 are showing up as the same (around 400 weight). Despite me only importing only 100, 300 and 700?

[2016-11-03 22:03] jamesgk commented on #70
Fixed in https://github.com/google/roboto/commit/bad336a540bde77c49740d96b7e309efcfae2c6c

[2016-11-05 04:04] #210 closed

[2016-11-05 17:37] jungshik commented on #70
Not so fast. Need to give more thought. Can lead to clipping and/or overlap of adjacent lines with tall glyphs.

[2016-11-05 23:37] jamesgk commented on #70
OK, so we'll leave this open to discuss whether we actually want these values. However I believe these are the values currently used for Android and webfonts, and that changing them will break vertical spacing on any platform.

[2016-11-06 02:52] volcanicc opened #211 "FontAgentPro strangely replacing certain characters?"
Firstly, thanks for the beautiful font :^)

Just noticed OSX just does some strange things to it especially when loading via Font Agent Pro.

I even re-downloaded the google-font to be safe deleting all previous versions, yet the issue is still there. FontAgent pro is somehow rendering a very similar but different font.

Attached screenshots of Google Font looking great, then screen shot of Fontbo

[2016-11-06 10:30] fitojb commented on #211
Yes, judging from your screenshots it looks like your installation of FontAgent Pro is loading a very old version of Roboto (pre-Material Design), and that’s why you’re seeing design differences. Could it be that there is a cache that needs to be flushed?, given you said that you’ve removed all previous versions of Roboto from your machine…

Anyways, this seems to be a ticket best suited for a Fon

[2016-11-06 23:05] volcanicc commented on #211
Thanks, fair call, I'll log it with FontAgent.

Feel free to delete this thread, cheers :^)

[2016-11-06 23:05] #211 closed

[2016-11-15 10:53] brightms opened #212 "Ellipsis alternate for CJK"
It is a Issue caused by Western style glyph and CJK style glyph being different.

If you say that Roboto is not a font for CJK,
There is an intersection for those character sets.

If Roboto does not have that character
There is no problem because it fallback as it is displayed in another font.

But, Roboto has that character
It will not fallback.(in Android)

Therefore, Roboto should localize to t

[2016-11-21 16:20] davelab6 commented on #78
It seems that Roboto doesn't have any drawn Bulgarian Cyrillic glyph variants. Is this correct?

[2016-11-21 18:30] jamesgk commented on #78
As far as I know, that is correct. I don't see any opentype feature rules
for Bulgarian.

[2016-12-03 23:31] rsms commented on #55
I'm using macOS as well and have found this work-around:
- Using Disk Utility, create a new sparse disk image
- Because of a bug in Disk Utility on macOS 10.11, even if you select "case-sensitive" during creation, a case-_in_sensitive partition is created, so
- Select the new partition in the left sidebar of Disk Utility and select the "Erase" toolbar option
- Choose OS X Extended (Case-sensitive,

[2016-12-04 18:02] codeman38 opened #213 "Kerning for P+comma+quote is overly tight"
In recent versions of Roboto (at least 2.132 through 2.135), the kerning of `P,` and `,'` are tight enough that, in the string `P,'`, the quotation mark actually overlaps with the letter P. This is the case with all comma-quote kerning pairs (single and double quotes, straight and curly).

<img width="289" alt="screen shot 2016-12-04 at 1 02 17 pm" src="https://cloud.githubusercontent.com/assets/3

[2016-12-08 15:20] fitojb commented on #213
Looks related to issue #195

[2016-12-09 11:04] StefanPeev opened #215 "Support for modern form of Bulgarian Cyrillic by .loclBGR"
I would like to collaborate by adding .loclBGR and enchancing Roboto font family with the modern form of Bulgarian Cyrillic Script. According to Botio Nikoltchev (lettersoup) issue: http://www.lettersoup.de/what-shall-be-done-for-bulgarian-cyrillic-loclbgr/ the following characters list is all which have to be included for loclBGR:

<img width="1187" alt="bildschirmfoto-2016-07-07-um-12 59 31" src

[2016-12-12 22:51] davelab6 commented on #76
More internal issues

b/32539815

b/29167895

b/32832716

[2016-12-13 12:20] legovini opened #216 "The Roboto Slab variant is missing"
The serif variant Roboto Slab is not included in this repository. Several Linux distributions use this repository to package the Roboto font, and thus miss Roboto Slab. As an example see this Debian bug:

https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=819273

Please add Roboto Slab.

Thank you,
Paride

[2016-12-13 18:19] roozbehp commented on #216
We have no plans to include Roboto Slab in this repository. You can get it from https://github.com/google/fonts/tree/master/apache/robotoslab.

[2016-12-13 18:19] #216 closed

[2016-12-13 23:25] jamesgk commented on #213
Yikes, I think I introduced this with https://github.com/google/roboto/commit/ecbda8dcfab710d96a16f1b0d7aac1ecfd6d6267 (but not the `L'` issue which has always been in v2). I guess the old behavior, which didn't actually interpolate kerning rules, actually worked better as a kind of happy accident. Thanks for the catch.

[2016-12-15 23:10] #213 closed

[2016-12-22 13:11] brawer opened #218 "IPA tie bar"
The sequence `⟨ǃ͡qʰ⟩ [ǃ͡qʰ] /ǃ͡qʰ/ ǃ͡qʰɑ̀ː` doesn’t look great when rendered with Roboto:

![image](https://cloud.githubusercontent.com/assets/1527880/21426669/6bc69ba4-c850-11e6-8945-8033f1e9d3de.png)

See [IPA test cases](https://github.com/googlei18n/noto-source/blob/master/test/und-fonipa.html).

[2016-12-22 13:26] brawer opened #219 "Mark attachment for superscript letters"
Consider defining mark attachment points for superscript letters. Compare how the string `ᵏ͔χ͔um ᵏ͔χ͔iβli. ᵏ͔χ͔ȱnteli` from [UPA tests](https://github.com/googlei18n/noto-source/blob/master/test/und-fonupa.html) renders in Roboto Regular, Roboto Italic, and a third-party [UPA font](http://www.jltypes.com/Uvallanne/UvallanneTesti.pdf). Also, the Chi looks like a Latin x.

![image](https://cloud.git

[2016-12-22 13:56] brawer opened #220 "Increase width of ə˞"
Consider increasing the width of rhotacized `ə˞`. Here’s the string `kənˈsɪdə˞d` from [IPA tests](https://github.com/googlei18n/noto-source/blob/master/test/und-fonipa.html) rendered in Roboto-Regular and Roboto-Italic:

![image](https://cloud.githubusercontent.com/assets/1527880/21427631/f76318ae-c855-11e6-86e8-c8ec393ef016.png)

![image](https://cloud.githubusercontent.com/assets/1527880/2142763

[2016-12-22 14:06] brawer opened #221 "Move bottom mark attachment point for ŋ"
Consider moving the bottom mark attachment point for `ŋ`. Here’s the string `me̞ˈtɐŋ̟ɟ̠is̠i` from [IPA tests](https://github.com/googlei18n/noto-source/blob/master/test/und-fonipa.html).

Roboto-Regular:
![image](https://cloud.githubusercontent.com/assets/1527880/21427973/e113a8b4-c857-11e6-997c-3e166ae31d2d.png)

Roboto-Italic:
![image](https://cloud.githubusercontent.com/assets/1527880/21427989/

[2016-12-22 14:18] brawer opened #222 "Ring appears glued to stem in i̥"
In the string `piˈɟ̟ĩc̟i̥`, the ring is very close to the `i` letter. In small font sizes, the combining mark therefore looks glued to the stem. Consider moving it a little bit down? From [IPA tests](https://github.com/googlei18n/noto-source/blob/master/test/und-fonipa.html).

Roboto-Regular:
![image](https://cloud.githubusercontent.com/assets/1527880/21428173/f84431e2-c858-11e6-8d03-4e79821f1813.

[2016-12-22 14:36] brawer opened #223 "Letters x and χ should look different"
Currently, the letters `x` and `χ` look identical in Roboto. This is a problem when rendering phonetic text, because [x] stands for the [voiceless velar fricative](https://en.wikipedia.org/wiki/Voiceless_velar_fricative) whereas [χ] is [uvular](https://en.wikipedia.org/wiki/Voiceless_uvular_fricative). For example, in [IPA tests](https://github.com/googlei18n/noto-source/blob/master/test/und-fonip

[2016-12-22 17:46] jamesgk commented on #223
This is a duplicate of https://github.com/google/roboto/issues/18, which is fixed in Android but not the webfont which is outdated.

[2016-12-22 20:26] brawer commented on #223
Uhm, why is the webfont not getting updated? (Tell me if I should file a separate bug for that).

[2016-12-22 21:24] jamesgk commented on #223
Not sure. You would probably want to file the bug at https://github.com/google/fonts and/or ask @davelab6 and co.

[2016-12-22 22:05] davelab6 commented on #223
As one of the most popular families we take great care to update it and I'm
not sure all hotfixes applied last time are applied to the latest release,
so it's pending.

On Dec 22, 2016 10:24 PM, "James Godfrey-Kittle" <notifications@github.com>
wrote:

[2016-12-29 20:32] marekjez86 opened #224 "No loca feature for Macedonian and Serbian Cyrilic in Roboto Italic"
Current handling of Macedonian and Serbian Cyrilic by Roboto Italic:
![mksr](https://cloud.githubusercontent.com/assets/13322623/21554165/131af960-cdc2-11e6-9e7a-b13b3fc09021.jpeg)

The text above was created by https://github.com/googlei18n/fontdiff using
[code]
as input.

I copied the text below which was created by https://github.com/elTooDR in https://github.com/googlei18n/noto-fonts/issues/79

[2016-12-29 21:11] marekjez86 commented on #224
I haven't checked Roboto Slab nor Roboto Condensed but I suspect they suffer from the same issue (if they have italics).

[2016-12-30 09:49] elTooDR commented on #224
@marekjez86 This font in italics is simply slanted to the right. This is a similar situation to Verdana. Because of this the characters are already displayed correctly for Macedonian. I also think Serbian displays as well but I am not sure.

[2017-01-02 17:44] marekjez86 opened #225 "enhancement: ᴕᴽ U+1D15 U+1D3D should be based on Ȣ U+0222 instead of having a different top counter."
This is an enhancement request

test case
[code]

using fontdiff on font (against itself) yields
![u 0222](https://cloud.githubusercontent.com/assets/13322623/21593803/fdbf78e6-d0cf-11e6-8104-223cfb4d93ea.jpeg)

ᴕᴽ U+1D15 U+1D3D should be based on Ȣ U+0222 instead of having a different top counter.

[2017-01-03 07:46] paul4ig opened #226 "Please distinguish between I and l better"
I absolutely hate Roboto as a user interface font as the I (uppercase i) and l (lowercase L) are not distinct enough. They can also get confused with vertical bars | or | as well as numerous other unicode characters. Think of the $billions wasted in global human effort due to all this confusion due to pathetic form-over-function font design that dominates. If you want to create the ultimate clear

[2017-01-03 21:13] jamesgk commented on #225
I opened a bug for this a while back: https://github.com/google/roboto/issues/124

[2017-01-03 21:14] jamesgk commented on #220
What version of Roboto are you using to test this? The latest release should be fine (and thus the Android tag is inappropriate).

[2017-01-03 21:16] jamesgk commented on #218
Related: https://github.com/google/roboto/issues/132

[2017-01-03 21:20] jamesgk opened #227 "Navajo ogonek under lowercase u is not centered"
From https://github.com/googlei18n/noto-fonts/issues/428#issuecomment-269645525.

See https://github.com/googlei18n/noto-fonts/files/677383/nav-428-Roboto-Black.pdf, https://github.com/googlei18n/noto-fonts/files/677384/nav-428-Roboto-Regular.pdf

[2017-01-03 21:52] #225 closed

[2017-01-04 02:10] marekjez86 commented on #225
MTI Note: "Align anoteleia with colon dot. To add a style variant for all cap or small cap settings is TBD"

[2017-01-04 10:18] brawer commented on #220
The version that [Google publishes on GitHub](https://github.com/google/roboto/tree/master/hinted). If that repo isn’t kept current, perhaps it would be best to delete it? But where to find the actual source?

[2017-01-04 18:10] jamesgk commented on #220
Those aren't published fonts, they're the sources we have to use for the actual published hinted fonts (which are at https://github.com/google/roboto/releases) since afaik there's no way to store hinting data in a UFO.

I think there's been confusion about this before, so maybe I'll rename that "hinted" directory.

[2017-01-05 14:47] marekjez86 commented on #226
sample text

<html lang="en">
<p><span style="font-size:24.0px">Ill behaviour is caused by an AI called Al III commissioned by the little men in the Illogical Illuminati</span></p>
<p><span style="font-size:24.0px">aR65Hus0lfG3</span></p>
<p><span style="font-size:24.0px">Illinois</span></p>
</html>
en-821-sentence-Roboto-Regular
en-821-sentence-roboto-regular
en-821-sentence-Roboto-Italic
en-821-

[2017-01-05 17:32] marekjez86 commented on #226
sample test text for the above request
[code]

en-821-sentence-Roboto-Regular
![en-821-sentence-roboto-regular](https://cloud.githubusercontent.com/assets/13322623/21690590/c99aa32c-d329-11e6-8c05-5837edd3d2d7.jpeg)
en-821-sentence-Roboto-Italic
![en-821-sentence-roboto-italic](https://cloud.githubusercontent.com/assets/13322623/21690604/d6af5fd0-d329-11e6-8c64-848f12a99709.jpeg)
en-821-sentence-R

[2017-01-06 08:20] fitojb commented on #226
I wonder how will you concoct this since Roboto is a grotesque design; it just won't fit. Lowercase ells do not necessarily _need_ to have tails to be distinguishable; the varying cap height of lowercase and uppercase helps on that, and let's not forget about context, which also helps disambiguate.

[2017-01-07 16:40] paul4ig commented on #226
@fitojb of course it will fit. Just add a subtle tail like in Source Sans Pro (though this is still a flawed font as still uses a simple vertical bar for the I). This is what annoys me about many arty font designers -- too concerned about fitting their design into some sort of arbitrary fashion category rather than ensuring the prime design purpose of optimum **communication**. If Google wants to

[2017-01-10 21:50] Zaithe opened #228 "Roboto not able to render chinese characters"
When using google search, the default font is Roboto which i cannot change. This font is unable to render chinese characters which is a big issue.

![screen shot 2017-01-10 at 1 47 43 pm](https://cloud.githubusercontent.com/assets/2839791/21826224/847f5f24-d73b-11e6-8dcf-3b120c1b5777.png)

[2017-01-12 22:00] IceMan81 opened #229 "Roboto Slab?"
Will Roboto Slab ever be included here?

[2017-01-12 23:35] davelab6 commented on #229
I would like to set it up with its own source repo :)

[2017-01-13 21:06] marekjez86 opened #230 "Roboto's ᵑ̊ badly placed"
sample text:
[code]
Roboto-Black
![en-823-roboto-black](https://cloud.githubusercontent.com/assets/13322623/21945601/027c37ce-d991-11e6-8b2b-af935a5bb414.jpeg)
Roboto-Italic
![en-823-roboto-italic](https://cloud.githubusercontent.com/assets/13322623/21945609/0b4b90d4-d991-11e6-99c6-7798a205e039.jpeg)
Roboto-Regular
![en-823-notosans-regular](https://cloud.githubusercontent.com/assets/13322623/2194

[2017-02-02 09:46] StefanPeev commented on #224
@marekjez86 I've a question. Is there Adobe software (for example Indesign) or even other software for working with texts, which is able to localise Serbian and Macedonian as a preferred working languages? The question is important, because if there isn't a software which is able to localize these two languages, than the only one way to two add Serbian and Macedonian glyph forms is through Style S

[2017-02-03 21:05] davelab6 opened #231 "Possible bug with character Ț in Roboto"
Romanian readers note the odd display of the character Ț:

All examples are with Roboto @ font-weight 500. Behavior is similar in Chrome and Firefox:

- 32px, the character extends an aliased pixel above the top line:

- 14px, it extends an aliased pixel below the top line:

- 56px, it's in line:

These sound like hinting bugs, so I asked the reporter to me to test v2.136 `roboto-hinted.zip` and r

[2017-02-05 20:17] fitojb commented on #206
Ping?

[2017-02-09 21:44] #229 closed

[2017-02-09 21:44] roozbehp commented on #228
Roboto is limited to Latin, Greek, and Cyrillic. Please go to the Noto project for Chinese fonts.

[2017-02-09 21:44] #228 closed

[2017-02-09 21:46] roozbehp commented on #224
Roboto Italic is not a true Italic font, just a slanted font. So it's not appropriate for it to have localized forms for Serbian and Macedonian.

[2017-02-09 21:46] #224 closed

[2017-02-09 22:06] #64 closed

[2017-02-09 23:05] rogerdahl opened #232 "Roboto is gorgeous and I'm using it everywhere. Thank you!"

[2017-02-09 23:08] roozbehp commented on #232
Thanks.

[2017-02-09 23:08] #232 closed

[2017-02-13 04:08] hungnm1087 opened #233 "Small letter O with horn and tilde"
This small letter `ỡ` is missing its horn. Is this a bug?

<img width="260" alt="screen shot 2017-02-13 at 11 02 48 am" src="https://cloud.githubusercontent.com/assets/15811013/22870729/88b6e434-f1dc-11e6-9ff7-f9412ac2766a.png">

[2017-02-13 05:41] fitojb commented on #233
Judging by your screenshot, it looks like you have locally installed a very old, buggy copy of Roboto, which may confuse web browsers. I can tell because the O is still squarish, meaning that it predates the 2014 Material refresh :)

[2017-02-27 22:34] erinmclaughlin opened #234 "Lj / LJ Nj / NJ case-sensitivity issue"
This issue still appears to be unresolved.  https://github.com/google/roboto/issues/55

As I understand it, I am unable to run 'make' on my Mac because it isn't recognizing case-sensitivity in glyph names.

`  File "/Users/erinmclaughlin/env/lib/python2.7/site-packages/ufo2ft/outlineOTF.py", line 895, in setupTable_CFF
    glyph = self.allGlyphs[glyphName]`
`KeyError: 'Lj'`

Lj and Nj are being co

[2017-03-01 01:33] davelab6 opened #235 "Roboto Mono 'l' legibility"
Requested change:

[2017-03-06 21:52] jungshik commented on #179
What I meant is that as long as Roboto are served via GWF and used in web browsers, it does not matter.
For those who download fonts and use on Windows, we can have a special Windows build of Thin available.

See https://github.com/google/roboto/pull/51#issuecomment-284516529 where using 250 hurts Linux users.

[2017-03-06 23:05] mikmikmik commented on #179
A Thin font which is weighted 100 should be 100. It is distributed for every USER, so it doesn't make sense to change the value from a DEVELOPER perspective. I'm not a windows developer but it seems the bold render issue is based on the CLEARTYPE_QUALITY setting, which is where the decision should be made as a developer or as a Windows user. Windows has always been the worse in font anti-aliasing,

[2017-03-07 01:42] davelab6 commented on #179
On Mar 6, 2017 4:52 PM, "jungshik" <notifications@github.com> wrote:

For web fonts served by Google Fonts, none of this matters.
I don't understand this; the fonts served by Google Fonts are massively
downloaded into Windows desktops and installed.

What I meant is that as long as Roboto are served via GWF and used in web
browsers, it does not matter.
For those who download fonts and use on Windo

[2017-03-08 16:18] m4rc1e opened #236 "Roboto Hinted v2.136 vs hinted v2.000: Have the cvt values changed?"
We'd like to update the Roboto fonts being served on Google Fonts.

Google Fonts is currently serving the hinted v2.000 binaries. We're hoping to replace it with the hinted [v2.136](https://github.com/google/roboto/releases) binaries.

I've noticed a few x-height/cap height jumps when viewing the fonts on Windows. I'm curious if the cvt values were changed in the hinted sources?

![roboto-hinting-

[2017-03-08 16:29] davelab6 commented on #236
That's right, there are no sources available for the hinting; it was done by a vendor. I'll ask for clarification of this issue :)

[2017-03-10 16:56] m4rc1e opened #237 "touchup_for_web.py: remove hotfix for Greek chi"
In the latest release, v2.136, the Greek Chi is no longer a lowercase 'x'.

We can remove these [lines](https://github.com/google/roboto/blob/master/scripts/touchup_for_web.py#L93-L98)

[2017-03-11 20:11] fitojb commented on #195
An interesting read: http://typedrawers.com/discussion/2032/french-apostrophe

[2017-03-14 13:22] m4rc1e commented on #234
Hey Erin,

I'll see what I can do here. I've hit the same issue.

[2017-03-14 13:39] moyogo commented on #234
BTW https://github.com/google/roboto/issues/55#issuecomment-264672901 says how one can build Roboto fonts on Mac.

[2017-03-14 13:42] m4rc1e commented on #234
@moyogo thank you! I'm building from Ubuntu now.

I still think there shouldn't be a workaround for this.

[2017-03-14 14:01] m4rc1e commented on #234
I can make the fonts perfectly on Ubuntu 14.04. I'll see what the differences are.

[2017-03-15 12:54] #237 closed

[2017-03-16 13:27] m4rc1e opened #239 "Convert build chain to fontmake"
Currently the chain consists of Robofab and some super old dependencies. If this project continues, it may be wise to invest the time and move it to [fontmake](https://github.com/googlei18n/fontmake)

In the process this should solve #234 and #55.

[2017-03-16 20:05] davelab6 commented on #128
Updating this to 8, 9 and 10

[2017-03-16 21:16] davelab6 commented on #236
Closing as GF will push this update without further changes to the CVT table.

[2017-03-16 21:16] #236 closed

[2017-03-19 21:18] jamesgk commented on #239
I started a "fontmake" branch for this, but hit a wall trying to port the italicizing code to Defcon. More recently, more comprehensive masters have been under development so that automatic italicizing (which was always a bit of a dark art) and other weird steps can be removed from the build process entirely, then we can basically just store masters here and use fontmake.

[2017-03-27 20:43] davezen1 opened #240 "Last Support Date for Current Release of Google Roboto Font"
What is the support time for a given release?  Does support for a given font release end when a new release is created such as v2.136?

[2017-03-27 20:51] davelab6 commented on #240
What do you mean by 'support' exactly? :)

[2017-03-27 20:53] davelab6 commented on #239
I propose to "backport" the release TTFs into 'source' UFOs that fontmake can compile; and make them interpolatable such that a variable font is possible; no port of italicizing code required.

[2017-03-28 00:58] davezen1 commented on #240
I know it is a font but how are issues handled? If there is an issue discovered and fixed in a major, minor, or patch release would that mean only the latest release would have the fix? I mean to use support in the context of ensuring I am using the latest stable version.

I am using a script to download fonts pointing to a url for use in a library that looks like:

https://fonts.googleapis.com/cs

[2017-03-30 11:30] m4rc1e opened #241 "Remove absolute path for subset.py in Makefile"
When running `make android`, the Makefile assumes the user has an absolute path to nototools via `$$HOME/noto/nototools/subset.py`. Since we already installed Nototools as a dependency for our virtualenv, we should use this one instead.

[2017-03-30 11:42] m4rc1e commented on #240
@davezen1 The bug fixes get applied to the latest release only.

[2017-04-10 12:16] hendrysadrak opened #242 "Issue with word in thai"
Issue with rendering word ไพ่คู่ั่งผู้เล่น

Using latest version of Roboto (v2.136). Environment is web, fonts not converted, using original .ttf's

Received:
![image](https://cloud.githubusercontent.com/assets/4000963/24861174/65cc8af0-1e00-11e7-9daa-502802ec48ef.png)

Expected something like:
![image](https://cloud.githubusercontent.com/assets/4000963/24861221/9c1955e8-1e00-11e7-9e2a-d5903f0abba

[2017-04-18 08:52] phcannesson commented on #195
Is there any update on this ?

[2017-04-18 10:02] mjamin opened #243 "Lower case letter height changed?"
Going from `v15` to `v16` (fonts.google.com) changes the height of lower case letters. Anyone using a `https://fonts.googleapis.com/css?family=Roboto` link on their website will suddenly see a significant and possibly very unwanted difference.

[v15](https://fonts.gstatic.com/s/roboto/v15/CWB0XYA8bzo0kSThX0UTuA.woff2) (left), [v16](https://fonts.gstatic.com/s/roboto/v16/CWB0XYA8bzo0kSThX0UTuA.woff

[2017-04-18 10:54] m4rc1e commented on #243
@mjamin The v2.000 webfonts were released when this issue occurred, #68. Back then, the hinting was incorrect when compared to the v1.000 fonts. Since the v2.000 webfonts were released several years ago, this regression has become a feature.

I have spent a lot of time testing this issue as documented in the pr to fonts/google, https://github.com/google/fonts/pull/710. I've also tested various pla

[2017-04-18 17:03] #243 closed

[2017-04-19 02:28] thesilentw commented on #243
So, what, we're supposed to just ignore the fact that most font display in most website in Chrome is now showing up in a completely undesired way that isn't how 90% of users expect it? How do we escalate this issue to someone who's willing to roll back the change?

[2017-04-19 03:32] atomicthumbs commented on #243
So someone wrecked a crapload of websites and it's not a bug?

[2017-04-19 05:19] thesilentw opened #244 "Please consider reopening issue #243 - Font x-height is now incorrect on Windows platforms"
Quoting the original issue -
+++
Going from v15 to v16 (fonts.google.com) changes the height of lower case letters. Anyone using a https://fonts.googleapis.com/css?family=Roboto link on their website will suddenly see a significant and possibly very unwanted difference.
+++

I find it VERY concerning that this issue, which affects more than a third of Chrome's userbase, is now considered a 'featur

[2017-04-19 06:01] designerdd commented on #244
Agreed. Changing the characteristics of a font that whole sites are designed around so that it looks different for a huge % of the userbase and leaving it as good enough is strange and irresponsible.

You've broken site layouts with this mistake (and it IS a mistake now, not a "feature"). Is it the users fault for trusting you to keep a font loading consistently I suppose?

[2017-04-19 06:53] atomicthumbs commented on #244
Fonts should not change without the permission of the users, regardless of whether the appearance that's been delivered consistently is a bug or not.

[2017-04-19 08:26] m4rc1e commented on #244
I already reported this issue, #236, whilst working on the update. The [testing repo](https://github.com/googlefonts/robototester/releases) is purely to demonstrate the hinting differences in MDL on different platforms. Its existed for a month or so :-). The pr made to google/fonts, https://github.com/google/fonts/pull/710 also extensively highlights this hinting change.

Why the change?
The previ

[2017-04-19 12:52] davelab6 commented on #244
I closed it because it will not be rolled back, nor will there be another
update in the future changing the hinting again any time soon.

I'm sorry you disagree that the changes are an improvement but I stand
behind that 100% :)

If you enjoy total control, the libre license of every font available from
the Google Fonts directory enables you to self host, and I encourage you to
do so.

On Apr 19,

[2017-04-19 14:12] ymgve commented on #244
This is not a small change, this feels like an entirely new font.

[2017-04-19 15:57] davelab6 commented on #244
You are free to self-host the old version :)

[2017-04-19 15:58] #244 closed

[2017-04-20 07:17] Rinux55 commented on #243
I have the same issue. Our whole app looks weirdly 'narrow' now.

[2017-04-20 07:29] Rinux55 commented on #244
With the update, the font works well on most sizes. Just when it is put to 12px it looks like you have Roboto Narrow, completely changing the characteristics of the font. I agree with most people here that this is a bug.

[2017-04-20 11:34] Mancerrss commented on #226
Yes make this happen. This is unacceptable to such a humanist focused design font like Roboto. Just look how Helvetica, San Francisco and Segoe pulled this off better

[2017-04-21 09:16] Rinux55 commented on #244
@davelab6  where can I find the old .woff file? I will take your advice and self-host it.

[2017-04-24 11:06] Wladkh opened #245 "How to download the font Roboto v15?"
For downloading, I always used this link: "https://fonts.googleapis.com/css?family=Roboto:400,900&subset=latin,cyrillic", but for several days I've noticed that the Roboto 16/18/20px font has become more elongated. I look in the css file, and there appears a new version of "s/roboto/v16/".

The font began to resemble Arial. I use an adaptive design and when changing the font size, the design of th

[2017-04-24 11:24] m4rc1e commented on #245
You can get the old versions from the google/fonts.

The decovar branch was created before the Roboto v2.136/2.137 pr was made:
https://github.com/google/fonts/tree/decovar/apache/roboto

[2017-04-24 11:56] Wladkh commented on #245
**m4rc1e,** Please tell me https://fonts.googleapis.com/css?family=Roboto:400,900 for different browsers gives different content. Does this affect the display in different browsers and OS? That is, under a specific browser, the most correctly rendered font?

Can I use this file and replace version 16 with 15  ("s/roboto/v16" "s/roboto/v15")? That is, I place this file on my server and refer to it

[2017-04-24 14:20] Wladkh commented on #244
@davelab6 I agree with the guys, in this variant the font can not be left ... It is not displayed correctly ...
Tell me, is it possible to specify the version in "https://fonts.googleapis.com/css?family=Roboto:400,900&subset=latin,cyrillic&version=15" to be downloaded from googleapis, but the old version.

[2017-04-24 20:20] davelab6 commented on #245
Right; the fonts were updating fixing many bugs, including some (longstanding) hinting bugs.

The text layout should not have changed, only the apparent height of the letters on some OS at some sizes.

For example, https://fonts.googleapis.com/css?family=Roboto:400,900&v=15 ?

No.

However, you can self-host the old (broken) version of the fonts, if you wish.

Yes, the CSS API parses the UserAgent

[2017-04-24 20:20] #245 closed

[2017-04-24 20:25] davelab6 commented on #240
Thanks for clarifying!

Yes, there is no support time for a given release; only the current release is supported.

No, the versions in the upstream repos and recorded inside the font files own metadata, like v2.136, are not related in any way to the versions that you can observe if you look inside the Google Fonts CSS API.

The OpenType font format version metadata only supports major/minor number

[2017-04-24 20:25] #240 closed

[2017-04-24 20:26] davelab6 commented on #242
Roboto doesn't support Thai, so what you are seeing is not Roboto but another font.

[2017-04-24 20:26] #242 closed

[2017-04-24 20:26] davelab6 commented on #241
Sounds good, please do :)

[2017-04-25 05:11] Wladkh commented on #245
@davelab6 Why is it very sensitive? For example, I have a font size of articles on the site 17px, and the font size of the comments is 16px. Before that, everything looked harmonious. After the change, the text of the article looks normal, and the comments are stretched and very different from the article itself. Users complain that it became inconvenient to read. On Android everything is fine, bu

[2017-04-25 07:15] Wladkh opened #246 "Stretched font in Windows (my last question on this error)"
Sorry that I'm bothering you, but I'm interested in the final answer. Tell me, please, in the next version of Roboto error with the display of fonts in Windows (elongated letters on even sizes 14/16/18px...) will be fixed?
Or the font in Windows will remain elongated?
I ask, since I need to find the optimal solution, either to abandon Roboto, or to write a script for the old version, or to wait fo

[2017-04-25 07:44] Rinux55 commented on #246
Sorry guys. don't want to be rude, I really appreciate the work you are doing on this project.

But I can't really wrap my head around the fact that you release a version of the font which looks bad on very common pixel sizes on one of the most used operating systems, and then ignore any complaints by saying it won't be changed anytime soon.

Please tell me, is the way this font is presented now i

[2017-04-25 08:24] m4rc1e commented on #246
@Rinux55 see #68 and check the dates.

[2017-04-25 08:46] Rinux55 commented on #246
Between all the tickets, version numbers and comments I am confused now. Am I saying this correct?
- the way the fonts where hinted in the previous version was a bug introduced some years ago and now you guys fixed it?

So you are saying that the way the font looks now on windows is not a bug? Even though it looks completely different on a mac?

[2017-04-25 09:01] m4rc1e commented on #246
The update, v2.137 fixes #68. The previous release was v2.000 which didn't match the original hinting of v1.

v2.137 matches Mac Os X much better. View it full screen.

![screen shot 2017-04-25 at 09 59 06](https://cloud.githubusercontent.com/assets/7525512/25376953/e7c0af3e-299d-11e7-8279-a7000bc2771b.png)

v15 and v16 refer to the font api.

[2017-04-25 09:21] Rinux55 commented on #246
Thanks for the more detailed picture. I can see that the height of the font looks better with a ruler. But it also shows what is wrong with the 2.137 version:
![artboard 1](https://cloud.githubusercontent.com/assets/12714499/25377894/104c2a4a-29a9-11e7-9d82-5fd11edf9553.png)

Please check the green marks in the letter 'e'. This is exactly what is making this font looks so narrow now. They may have

[2017-04-25 09:28] m4rc1e commented on #246
@Rinux55 sorry the image was actually for my mac air. I built a test [site](http://robototester.appspot.com) and have diff browser samples [here](https://github.com/googlefonts/robototester)

This is all rather debatable. Personally, I find the open counter of the 'e' in 2.137 a better match to the mac rendering.

[2017-04-25 09:51] Wladkh commented on #246
Here's what the old and new font looks like in my Windows:

<img src="http://fs2.fex.net/get/280399052693/10016996/font.jpg">

http://fs2.fex.net/get/280399052693/10016996/font.jpg

P.s .: I apologize for my English, I use an interpreter

[2017-04-25 09:57] Rinux55 commented on #246
![image](https://cloud.githubusercontent.com/assets/12714499/25379570/bf173d04-29ad-11e7-9532-431090bea4b5.png)
 I have used the roboto tester on a mac, and I do not see a notable difference between old and new. On my windows machine, the difference is huge.

Seeing both new versions of windows and mac to each other, I can see why it may look more the same. But there is this sense of narrowness in

[2017-05-01 03:59] user23145 commented on #246
Noticed this as well. Whatever the latest update was, it made the font look significantly worse on the web. It's significantly taller than it used to be, to a point where it looks uncomfortable to the eye to read.

[2017-05-01 04:01] user23145 commented on #244
Disappointing that this won't be changed. The readability of the font is now significantly worse.

[2017-05-01 13:43] davelab6 commented on #244
Please explain why you think it is worse; I believe the increased xheight
makes it better

On May 1, 2017 12:02 AM, "user23145" <notifications@github.com> wrote:

Disappointing that this won't be changed. The readability of the font is
now significantly worse.

—
You are receiving this because you were mentioned.

Reply to this email directly, view it on GitHub
<https://github.com/google/roboto/is

[2017-05-01 17:30] Wladkh commented on #244
davelab6, sorry that I'm wedging in, but it's about the fact that only in Windows it's stretched. In other operating systems that I used, for example, Android, the font is normal.

Look, what's the difference in Windows:
http://fs2.fex.net/show/643339124536/10816915/badwinroboto.gif?1600w
Read unpleasant when so stretched.

For example, in Android font is not stretched. While the stretched font I

[2017-05-01 18:11] JonET commented on #243
I love the open source community.

[2017-05-01 18:38] user23145 commented on #244
I'm experiencing the same problems as @Wladkh is. It looks incredibly stretched (vertically) and compressed (horizontally) on all of my sites (using Windows OS).

It no longer looks like the same font. It looks more like a condensed version of Roboto.

[2017-05-01 18:43] thesilentw commented on #246
The kerning is significantly worse in the new version on Windows platforms - the increased x-height makes it more difficult to separate out letters now that there are effectively many more vertical lines, due to the stretched letters.
In many, many other fonts, the established norm is that the letter 'e' is quite close to being a circle, not an oval, and in the new version of Roboto on Windows, it

[2017-05-01 18:46] mattnischan commented on #246
Prior to this change, the ratio of various rounds and bowls was effectively equal height/length. In other words, "o" and it's glyph derivatives were exact circles. After this change, this is no longer the case on Windows.

The question then effectively becomes: Is Roboto intended to have non-circular rounds? If not, then this is a display bug. If Roboto is intended to have ovaled rounds, then the

[2017-05-02 04:11] davelab6 commented on #244
The WOFF file isn't available here, but you can create one with the usual tools if you get the old TTF file from the git history... eg if you go to

https://github.com/google/fonts/tree/91841512c998146de55adeeff193f3f25dafdc44/apache/roboto

and

https://github.com/google/fonts/tree/91841512c998146de55adeeff193f3f25dafdc44/apache/robotocondensed

and click the TTF and then 'view raw' you'll downlo

[2017-05-02 13:39] davelab6 commented on #244
The line spacing could be adjusted, but no text line should be longer than before.

In vector outlines, Roboto looks condensed; I think previously it was being shown artificially wide.

[2017-05-02 16:31] Wladkh commented on #244
@davelab6 I did not mean the length of the current text. I said if the text is longer, then it's harder to read. It is necessary to increase the line spacing. Here's an example:
<img src="http://fs3.fex.net/get/776431266435/10948408/badwinroboto2.gif">
A new line is lost when reading.

Do not you want to make the old version of Roboto loaded for Windows? Or somehow remake? After all, this is a mis

[2017-05-02 18:25] davelab6 commented on #244
aha! I think you mean rather than

you mean

But I simply disagree; I think the text being taller makes it **easier** to read, because the counters have more space inside them.

When I look at your image, and the proportions of the "R" and "o" in the first word, compared to the rendering on this Mac OS X laptop I am using, I think the one on the right is closer to the Mac rendering.

![screen shot

[2017-05-03 02:14] Wladkh commented on #244
Look at what I get. Font 18 is the same in Windows, and 16 are stretched:
<img src="http://fs3.fex.net/get/792821046648/11012699/baditem3.jpg">

[2017-05-03 03:49] davelab6 commented on #244
Yes - stretches down in the old version.

On May 2, 2017 10:14 PM, "Wladkh" <notifications@github.com> wrote:

[2017-05-03 15:56] dev3456 opened #247 "Redistribution and the Apache License Version 2.0"
Hello,

I was looking into self-hosting the Roboto font and using it with `@font-face` in a webpage.

While reading the [Apache License Version 2.0](https://github.com/google/roboto/blob/master/LICENSE), under the _"4. Redistribution."_ section, it says: _"(a) You must give any other recipients of the Work or Derivative Works a copy of this License; and"_.

I was wondering how to comply with that

[2017-05-03 16:09] davelab6 commented on #247
We can't offer legal advice on how to comply, I'm afraid. However, I note that all Roboto files have a URL for the Apache license inside. I see http://apache.org/foundation/license-faq.html doesn't cover this; I suggest trying http://www.apache.org/legal/

[2017-05-03 16:09] #247 closed

[2017-05-03 16:26] dev3456 commented on #247
I understand. Tyvm for the reply.

On a side note, are there any plans to change the Apache License Version 2.0 to the SIL Open Font License Version 1.1 [like it was done to the Noto font](https://github.com/googlei18n/noto-fonts/blob/master/NEWS)?

[2017-05-03 16:31] davelab6 commented on #247
Would that benefit you?

[2017-05-03 20:41] dev3456 commented on #247
I believe it would benefit everyone using the font on webpages with `@font-face` because it would solve the distribution problem under the [Apache License Version 2.0](https://github.com/google/roboto/blob/master/LICENSE).

The [SIL Open Font License Version 1.1](https://github.com/googlei18n/noto-fonts/blob/master/LICENSE) allows the copyright notice and the license to be added to the font's meta

[2017-05-05 09:36] mvcoding commented on #246
I have to agree, it's very unpleasant to read now on windows.

[2017-05-05 23:57] user23145 commented on #246
It's been nearly 2 weeks since the change, and I thought I would've (maybe) been used to the updated font by now, but it's still incredibly hard on the eyes to read. I find myself not only losing lines as I read a page, but also losing words.

I can't imagine how hard this font is to read for people with dyslexia.

[2017-05-08 21:21] fitojb commented on #246
Hm, Roboto has never had circular forms; since it was introduced in Android 4.0, it has been ovaled. Its forms are slightly condensed to allow for more characters to fit in a line, which is a common thing in UI typefaces.

As it was stated previously, the previous look was a hinting regression.

[2017-05-08 22:12] davelab6 commented on #246
Yes.

Per https://fonts.google.com/specimen/Roboto this is used across 10,000,000 domains. I've seen comments from a few dozen people. It isn't a problem for most people.

[2017-05-08 22:12] #246 closed

[2017-05-10 00:13] JohnHernist commented on #246
I'm not that tech savvy so it took me a while to find the right place to complain about this (made a Github account just to make this comment).

But I just want to add to the others' complaints that this has negatively impacted the design of my website and users are complaining about readability issues, as some others have mentioned above.

I think many others who use this font are in the same pos

[2017-05-10 00:18] davelab6 commented on #246
@JohnHernist thanks for your comment. I'm sorry to hear of your trouble with the update. If you reduce the font size by 1px, will that help?

[2017-05-10 00:23] JohnHernist commented on #246
13px in this version of the font is certainly appears closer to the previous version's 14px, but it still seems quite significantly smaller than the previous version's 14px.

It seems to me that the difference between 13px and 14px is too large.

[2017-05-10 12:44] NiklasBr opened #248 "Question: What about version 2.137?"
Just a small question: I noticed [google/fonts](https://github.com/google/fonts/pull/727) updated to version 2.137 a while ago, and so did [googlefonts/robototester](https://github.com/googlefonts/robototester). But the latest version in this repository is still v2.136. Is 2.137 available here (just not tagged as such) or will it be?

[2017-05-10 13:06] m4rc1e commented on #248
@davelab6 We should probably tag a release for this.

Thanks @NiklasBr

[2017-05-10 19:19] DrELM opened #249 "Missing small character "ə" (uni0259)"
I found your font - Roboto - very useful especially with extended character set. However, there is keystone character - ə (Uni0259, #601;) which is not added to Latin-extended set. This is the only missing character that can be in almost every word of the text written in Azerbaijan language. In fact, there is very similar ready glyph which can be found in your font cyrillic set - ә (Uni04D9, #1241

[2017-05-10 19:58] davelab6 commented on #249
@DrELM thanks for reporting

[2017-05-11 20:05] dev3456 commented on #247
Sorry to bother again. But would it be possible to submit this suggestion to Google to evaluate?

[2017-05-12 04:48] vericlimy opened #250 "How to use previous version of Roboto?"
I noticed that Roboto was changed and I don't really like the new changes, so I'd like to go back to the previous version.

Two questions:

1. Is there a quick change that I can make to my Robot font call to get the previous version?

`<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">`

2. If not, where I can download all of the needed files for the previous version of

[2017-05-12 13:10] davelab6 commented on #247
What do you see as the distribution problem?

On May 11, 2017 4:05 PM, "dev3456" <notifications@github.com> wrote:

[2017-05-12 18:58] JohnHernist commented on #250
Looking for the same solution... :/

[2017-05-12 19:52] dev3456 commented on #247
When we use a font with `@font-face` on a web page we're redistributing that font.

The [Apache License Version 2.0](https://github.com/google/roboto/blob/master/LICENSE) requires that on redistribution we must give a copy of the license.

Giving a copy of the license on a web page is the problem.

The Apache License wasn't designed for this kind of redistribution. It was meant for distributing so

[2017-05-17 12:19] dev3456 commented on #247
If I may, I'd like to add that there's precedent for that change. [Google did it for the Noto font](https://github.com/googlei18n/noto-fonts/blob/master/NEWS):

[2017-05-22 17:50] davelab6 opened #251 "U+2162 has incorrect horizontal advance"
Roboto-Regular.ttf before:
[code]
Roboto-Regular.ttf now:
[code]

[2017-05-23 09:05] m4rc1e commented on #251
@davelab6

v2.129 (first tagged [release](https://github.com/google/roboto/releases)) has the same issue.

[code]
I need to know which versions they're testing?

According to the [spec](https://www.microsoft.com/typography/otspec/glyf.htm), when component flag bit 9, USE_MY_METRICS is enabled:

I need to dig deeper into this.

[2017-05-23 13:10] davelab6 commented on #251
If you use the character, you see the problem - negative advance width
compared to bounding box 😂

On May 23, 2017 5:05 AM, "Marc Foley" <notifications@github.com> wrote:

@davelab6 <https://github.com/davelab6>

v2.129 (first tagged release <https://github.com/google/roboto/releases>)
has the same issue.

    <TTGlyph name="uni2162" xMin="183" yMin="0" xMax="1410" yMax="1456">
      <component gl

[2017-05-23 13:14] m4rc1e commented on #251
@davelab6 the .ufo sources are fine. It's the tools which make it. Will have more info asap.

[2017-05-23 15:05] davelab6 opened #252 "DefaultLangSys should not be NULL"
Firefox OTS complains about recent Roboto releases:

[code]
Reported in https://github.com/google/fonts/issues/738 but should be fixed here :)

[2017-05-25 04:40] moyogo commented on #73
This prevents Roboto from being useable in several languages.
![roboto](https://cloud.githubusercontent.com/assets/1923747/26436174/9838071a-410c-11e7-8aa3-19992fc9dbd4.png)

[2017-05-25 13:18] krvilla opened #253 "Installing in El Capitan"
Is there a way to install Roboto in El Capitan (Font Book)
<img width="626" alt="screen shot 2017-05-25 at 9 06 34 pm" src="https://cloud.githubusercontent.com/assets/82987/26451566/348c995a-418f-11e7-9916-3ec4f7c1358c.png">
without the validation issue? Thanks.

[2017-05-30 06:04] #251 closed

[2017-05-31 06:46] brawer opened #255 "Add n-shaped Eng"
The uppercase Eng letter has (at least) two shapes. It would be nice if Roboto supported these, and if its `locl` feature had a substitution rule to choose the correct shape for language-tagged text.

![image](https://cloud.githubusercontent.com/assets/1527880/26618933/911cfd30-45dc-11e7-8692-572e3c7a35f7.png)

@moyogo wrote (for the Noto font, but it equally applies to Roboto):

Here’s a picture

[2017-06-02 00:41] juan0087 opened #256 "Font weight rendering as bold"
Hello there,

For some reason after updating my iMac to the latest version of Sierra v10.12.5 all websites with the Roboto font render as bold. I've tested on Chrome, Safari and Firefox and same issue on all 3. When I also have a macbook pro with the same OS and it renders fine, so I'm not sure what it could be causing the issue.

Also when I reboot the iMac it renders fine for a moment and then a

[2017-06-02 07:57] m4rc1e commented on #256
@juan0087 do you have Roboto installed locally?

[2017-06-02 14:30] codeman38 commented on #248
There's still no tag for 2.138 either, despite that having been merged a week ago.

[2017-06-02 16:40] juan0087 commented on #256
@m4rc1e I checked a couple days ago an did not find it in the Fontbook.
What I just realized is that I did have it synced on the Adobe Creative Cloud app on my iMac. I have unsynced the font and the problem is fixed now.

Thanks a lot!

[2017-06-07 10:52] NiklasBr commented on #248
These tags would be nice.

[2017-06-21 03:56] ron23 commented on #213
I think I'm seeing a related behavior:
![image](https://user-images.githubusercontent.com/5150512/27366428-eb86d556-55fa-11e7-8e14-5d882bcb09aa.png)

[2017-06-21 06:50] jamesgk commented on #213
It looks like you're using Roboto version 1 (from the square colon). The
kerning in version 2 between "P:" should be fine.

[2017-07-03 23:34] walleXD commented on #256
@m4rc1e Is there any way to not face this issue while robot being installed in my mac locally?

[2017-07-05 15:24] davelab6 commented on #256
I recall there was a bug filed with chromium to resolve this, but it does
seem like something we should be able to resolve in the fonts themselves.

I guess we need to identify a family that it doesn't happen for, and
compare that to roboto (especially the name, os/2, and head tables) and see
if we can prevent it from happening

Marc, could you schedule a day or two to do that this month?

On Jul

[2017-07-07 13:49] jdonenine opened #258 "third_party library question"
In the "third_party" package you list two libraries: font_crunch and spiro.  font_crunch is an Apache licensed tool, but spiro is GPL, and that is causing issues for getting approval from our legal department to use libraries that include roboto.

I was wondering if you could confirm for how exactly spiro is used in Roboto?  Is it purely used as a build time tool and none of it is distributed with

[2017-07-19 15:34] dawitelias opened #259 "Unicode characters "bullet" and "white bullet" are different sizes."
I looked around and didn't see any similar issues logged.

Check out the screenshot below to show the difference in size between `bullet: U+2022` and `white bullet: U+25E6`.

![pasted image at 2017_07_19 11_22 am](https://user-images.githubusercontent.com/7459713/28375631-f43e81e4-6c75-11e7-80b2-6675b6df55a3.png)

You'll notice that the sizes are similar with Apple's San Francisco font, but are qu

[2017-07-20 15:25] dawitelias commented on #259
Thanks for the quick response @roozbehp. I'm a designer, so forgive my ignorance, but when this is eventually patched, how do we pull in those changes? Is it just an update to the Android Support Library?

[2017-07-20 17:27] roozbehp commented on #259
There will be updates to the font available on github I assume, as well as updates in Android platform itself. I don't believe there is a copy of Roboto in the Android support library.

[2017-07-25 14:12] entvia commented on #197
Hi guys! Have a strange behavior of Roboto in Chrome and Opera when using the font from google fonts. When using U+0301 with 'a' all symbols before and including 0301 itself fall back to sans-serif in case of font-family: "Roboto", sans-serif. Would appreciate any ideas.

[2017-07-28 15:17] romansj opened #260 "Roboto Light cannot be embedded in PowerPoint 2016"
I turned on font embedding in a presentation, but I got [this message](http://i.imgur.com/axxRWtT.png) when saving.

[2017-07-28 15:45] davelab6 commented on #260
Where did you download that copy of Roboto from?

[2017-07-28 17:50] romansj commented on #260
@davelab6 I downloaded from Google Fonts and then also this repository.

[2017-08-02 15:35] davelab6 commented on #248
I've now tagged and released https://github.com/google/roboto/releases/tag/v2.138

[2017-08-02 15:35] #248 closed

[2017-08-03 15:32] codeman38 opened #261 "v2.138 roboto-hinted.zip not fully hinted, missing Condensed-Medium"
The roboto-hinted.zip release for version 2.138 seems to be incomplete on two counts:

* It is missing the Condensed Medium and Condensed Medium Italic styles that are present in roboto-unhinted.zip.
* Only ~30% of the glyphs in each style contain any instructions.

[2017-08-03 15:34] m4rc1e commented on #261
@codeman38 The Condensed Medium and Condensed Medium Italic do not have any VTT sources, https://github.com/google/roboto/tree/master/src/hinted.

[2017-08-03 15:59] davelab6 commented on #261
The first point is as intended since those styles aren't hinted. The zip
could be updated with info about this in the readme, though.

The second, is that a regression from the previous release?

On Aug 3, 2017 11:33 AM, "Cody Boisclair" <notifications@github.com> wrote:

The roboto-hinted.zip release for version 2.138 seems to be incomplete on
two counts:

   - It is missing the Condensed Medium

[2017-08-03 16:02] m4rc1e commented on #261
@davelab6 I think both his queries relate to  the v2.138 `roboto-hinted.zip`.

[2017-08-03 16:10] jamesgk commented on #261
Actually, from https://github.com/google/roboto/blob/master/Makefile#L59-L72.
The "android from hinted" target probably should be removed as it
actually stripped hints from the hinted sources to create binaries
from android (now the regular android target should work just as
well).

[2017-08-03 16:27] m4rc1e commented on #261
@jamesgk thanks for the rapid response.

I'm not entirely sure the previous `roboto-hinted.zip` archives have come from the lines you've quoted in the makeFile. When you run `make web`, the web fonts are subsetted (1,284 glyphs) whilst the files in the previous hinted zips are not (3,387 glyphs). Perhaps it was run with https://github.com/google/roboto/blob/master/Makefile#L70 commented out?

Apol

[2017-08-03 16:31] davelab6 commented on #261
done

[2017-08-03 16:51] jamesgk commented on #261
I think you're right! Maybe separate "hinted" and "web" targets should
be made, like we have with the "crunch" and "android" targets. Though
most other touchup steps would be generally important for the hinted
output I think.

[2017-08-03 16:59] m4rc1e commented on #261
Thank you for your help James! I hope all is well with your new venture as well!

I'll add a hinted option to the Makefile, if dropping the subsetting script works.

[2017-08-03 17:11] m4rc1e commented on #261
If you add a new option to the Makefile:

[code]

It will create a new dir `./out/hinted` which contains a new set of fonts which have web fixes applied and no subsetting. If you archive these files, the zip is approx 5.2mb which is more inline with the v2.136 release. I'm not 100% sure this is the final solution so I will spend some time finding it tomorrow.

Thanks again @codeman38

@davelab6 I'

[2017-08-03 18:55] TidharC opened #262 "Uppercase open O overlaps diacritics"
In Roboto font, the uppercase open O character (U+0186) overlaps diacritics placed above it.

REPRODUCTION STEPS:
1.  Send yourself an email message with these chars pasted in:
ƆƆ́Ɔ̂Ɔ̌
2.  Open the email message on an Android device using Roboto font.

OBSERVED RESULTS:
Uppercase open o "Ɔ" overlaps all diacritics (see screenshot).

EXPECTED RESULTS:
No overlap.

ADDITIONAL INFO:

Codepoints:
Uppe

[2017-08-03 18:57] davelab6 commented on #262
@TidharC thanks for reporting this :)

[2017-08-03 19:06] roozbehp commented on #262
Internal Google bug: b/64301711

[2017-08-03 20:14] moyogo commented on #262
Duplicate of #73.

[2017-08-04 14:46] m4rc1e commented on #261
After adding my snippet to the Makefile, it will now generate the hinted ttfs. I'll get this added as a pr after a few more checks and a small tidy up.

![screen shot 2017-08-04 at 15 18 59](https://user-images.githubusercontent.com/7525512/28973372-f853375e-792a-11e7-806b-ba5cc61fd449.png)

The only major difference is the removal of duplicate glyphs in GDEF > MarkGlyphSetsDef which was introduce

[2017-08-07 10:24] louisremi opened #263 "Roboto's woff2 from fonts.google.com no longer loads in Firefox"
I'm not sure when things went bad, but I'm unable to get Firefox Nightly to display Roboto. Here are the error I get in the devtools:
[code]

[2017-08-07 13:47] davelab6 commented on #263
Mozilla needs to maintain ots.

On Aug 7, 2017 6:24 AM, "Louis-Rémi Babé" <notifications@github.com> wrote:

I'm not sure when things went bad, but I'm unable to get Firefox Nightly to
display Roboto. Here are the error I get in the devtools:

downloadable font: Layout: DFLT script doesn't satisfy the spec.
DefaultLangSys is NULL (font-family: "Roboto" style:normal
weight:normal stretch:normal src

[2017-08-07 14:09] khaledhosny commented on #263
@dave this is different from the other `DFLT` related issue that got amended in the OT spec. The spec still requires DefaultLangSys to not be NULL (it would be interesting to see if any implementation really requires this).

Anyway, AFAIK this only affects nightly Firefox, both Chrome and release/beta Firefox disable OTL sanitization since the fonts will always go through HarfBuzz.

[2017-08-07 14:25] davelab6 commented on #263
Maybe OTS should just not bother, then?

[2017-08-07 17:04] khaledhosny commented on #263
I wanted to do that a while ago, but there was a push back to follow the spec here. The spec update eliminated one of the limitations of DFLT script but not the other (in effect here). Since the two main OTS clients are not practically affected by this, I rather prefer to keep the check least there is a legitimate way this breaks some layout engine.

[2017-08-07 18:00] davelab6 commented on #263
Perhaps comment out the code so that if we do find it breaks something it
can very easily be added back?

[2017-08-11 03:38] davelab6 commented on #234
@m4rc1e this seems important to fix before anything else :)

[2017-08-11 08:44] m4rc1e commented on #234
@davelab6 if we use @anthrotype's suggestion, we'll need to test the fonts thoroughly, write some regression unit tests and cut a new release.

[2017-08-11 14:11] codeman38 commented on #249
U+0259 is definitely present in the binaries from this repo - probably an issue in Google Fonts subsetting?

[2017-08-11 14:36] m4rc1e commented on #249
@codeman38 You're correct. Roboto Webfonts include U+0259 https://github.com/google/roboto/blob/master/res/charsets/web.txt#L341

![screen shot 2017-08-11 at 15 34 53](https://user-images.githubusercontent.com/7525512/29217794-aa649cb0-7eaa-11e7-80df-5e2f92de8ee7.png)

I've made up a quick JsBin test: http://jsbin.com/vawocihoyi/edit?html,css,output

Output in test is not Roboto.

[2017-08-11 14:41] davelab6 commented on #234
Yes. Is the problem that on Mac OS X the file system is case insensitive,
and the robofab glif file naming scheme doesn't account for that correctly,
but the defcon glif naming scheme does?

[2017-08-11 16:02] m4rc1e commented on #234
@davelab6 I've had this problem with other chains involving Robofab. I can confirm that more modern build tools such as [Fontmake](https://github.com/googlei18n/fontmake) don't suffer with this issue.

[2017-08-13 11:04] khaledhosny commented on #263
This was an issue with FontTools subsetter, so should be fixed now.

[2017-08-21 16:44] 0gust1 commented on #263
@louisremi If you disable `gfx.downloadable_fonts.otl_validation` in `about:config` screen of firefox, does it works ?

It's a nightly and mozilla team are heavily working on the rendering part of the browser, I bet it's temporary

[2017-08-22 13:03] gotjek opened #265 "No Small Caps for Roboto in LibreOffice"
Steps to reproduce :
1. Open LibreOffice 5.4.
2. Choose font "Roboto" (v2.138) then add ":smcp=1".
3. Type : no small caps.

It works with Roboto Light.

[2017-08-24 05:42] cclauss opened #266 "Missing import? Where is Point() defined?"
The [transformGlyphMembers() function in Build.py](https://github.com/google/roboto/blob/ab4876f650a4aeb9b661c83fee47f908c739bb70/scripts/lib/fontbuild/Build.py#L187) creates Point() objects in four places but I am not able to find the definition of Point().  Is it some sort of builtn?

[2017-08-24 12:38] davelab6 commented on #266
Robofab/defcon, I guess; or fonttools

On Aug 24, 2017 1:42 AM, "cclauss" <notifications@github.com> wrote:

[2017-08-26 12:21] tompazourek opened #267 "Differences between Win and HHead metrics cause the font to be rendered differently on Windows vs. iOS (or Mac I assume)"
The Roboto font has different metrics for "Win Ascent", "Win Descent" comparing to it's "HHead Ascent", "HHead Descent" metrics.

![fontforge](https://user-images.githubusercontent.com/370699/29741260-600b2812-8a69-11e7-81dd-84e1b4969e50.PNG)

**This causes it to look different on Mac-style OS (I could only test on iOS), and on Windows.**

Windows uses Win metrics (seems like unless the "Really us

[2017-09-20 09:57] phcannesson commented on #195
Could we have an update on this ? " L' " is VERY common in french and Roboto is the only font I know that is merging so close the word and the uppercase L.

I can't believe nobody is pushing for a fix...

[2017-09-20 16:40] jamesgk commented on #195
This should be trivially fixable by removing (or adjusting) the "L / singlequote" kerning rule in source:

[code]

But of course, it's ultimately up to the people with authority on Roboto's design. @phcannesson, submitting a pull request may help further the discussion.

[2017-10-07 15:34] Mancerrss opened #269 "All Roboto variants have functionality issues on Office 2016, except Mono"
I hate the new versions of Roboto now, they don't properly work on Office 2016 now (they once did and it's my favorite font to use there). Some variants are either missing or not functional, when you select their other weights on Font Properties, they don't render at all.

On Windows 10, Roboto only works in Bold, Bold Italic, Medium and Light weights are switched, the rest is not working.

On Rob

[2017-10-09 09:42] m4rc1e commented on #269
What was the previous version you were using?

Have you tried clearing your font cache?

Have you tried this on a different machine?

@laerm0 could you check this on your Win machine?

[2017-10-09 12:03] Mancerrss commented on #269
I don't know, I think it's the 2015 version. It's very long time ago. But I lost it since I formatted and just download the latest version. Clearing font cache doesn't do anything. Yes as I've said I've tried this on the computer cafe on Windows 7, but s I've said there's fewer problems tho I can't remember specifically what's missing and what's not. I may have to try it tommorow for confirmation

[2017-10-09 12:17] m4rc1e commented on #269
@Mancerrss thank you for the details!

With git you can rollback to earlier commits so you'll be able to retrieve the version which worked for you. I will look into this in more details some time this week.

[2017-10-09 14:31] Mancerrss commented on #269
There's like 500+ commits? Are you saying to me that I'll have to try that every version revision just to get what's working on mine? Also how could I do that? I just reported it here bc I can't seem find any official feedback forum to report this other than this? I don't know how to use Git

[2017-10-09 14:50] m4rc1e commented on #269
Go to and try the first commit. Those were v1.000 days.

[2017-10-09 15:20] laerm0 commented on #269
I can reproduce this issue in Roboto Slab (thin and light not visible in Windows), but not the others. I don't have Word for Win 10, however WordPad has the same ability to show fonts.

![screen region 2017-10-09 at 11 19 51](https://user-images.githubusercontent.com/10780161/31345453-ca9fc754-ace3-11e7-99f0-40bb7d7f72e9.png)

[2017-10-09 15:48] Mancerrss commented on #269
@laerm0 Yea it's strange. Missing weights could vary if not random

[2017-10-09 17:24] alejandrorangel opened #270 "Add musical symbols"
The symbols to represent musical notes like, [sharp](http://www.fileformat.info/info/unicode/char/266f/index.htm), [natural](http://www.fileformat.info/info/unicode/char/266e/index.htm) and [flat](http://www.fileformat.info/info/unicode/char/266d/index.htm) are not currently included in Roboto

[2017-10-23 11:33] Mancerrss commented on #269
What's the update on this? Did you guys already pushed an update fixing this?

[2017-11-01 00:03] brawer opened #272 "Add Choktaw Upsilon"
To support the Choktaw language, please add the following three lines to the `locl` feature for Roboto:

[code]

And add a glyph shape `uni01B1.loclCHO` that looks like the Greek upsilon but with uppercase size. For comparison, here’s the string `Ʊʊ` in a the [LaserChoktaw font](https://www.linguistsoftware.com/lchoctaw.htm) which was designed for the Choktaw language:

![image](https://user-image

[2017-11-01 00:41] brawer commented on #272
Actually, Roboto already has glyphs for U+01B2 and U+028B. Sorry about the noise, closing bug.

[2017-11-01 00:41] #272 closed

[2017-11-01 05:16] brawer opened #273 "Add top anchor to uppercase letters"
Consider adding a `top` anchor to all uppercase letters in Roboto. For example, the sequence U+01B2 U+0301 Ʋ́ (which is used for the Choctaw language) does not look good with the current Roboto font because the combining acute accent is touching the base letter.

![image](https://user-images.githubusercontent.com/1527880/32260826-a23ad9ba-be87-11e7-85c6-f0074ccfdbe1.png)

/cc @sven-oly

[2017-11-08 19:00] EdouardDLMT opened #274 "Letter R changing on most browsers"
I uploaded the font on a Website and realised that it wasn't loading the same glyphs as the one showed in the google font website the " R " for instance has a curve to it ...

This is how it's supposed to look like :

![capture d ecran 2017-11-08 a 19 24 27](https://user-images.githubusercontent.com/25067418/32567683-4d6bb144-c4bc-11e7-8c9f-f7a3e440d0cc.jpg)

But used on a website or even directly

[2017-11-08 22:43] fitojb commented on #274
I’m pretty sure you have an old copy of Roboto somewhere in your computer; local fonts interfere with web fonts in various ways in different browsers.

[2017-11-08 22:56] EdouardDLMT commented on #274
@fitojb Perfect!  I actually went in the font book and deactivated all the Roboto font and it worked!!

 i'm new to Github, do I have to mark the post as resolved ?

[2017-11-08 23:31] fitojb commented on #274
Glad I could help! :)

Yep, please close it; this problem has been reported several times with different fonts, so I’m sure this thread can be considered a duplicate :)

(One would hope browser vendors would define a common behavior to implement in these cases, but…)

[2017-11-08 23:34] #274 closed

[2017-11-10 03:27] richcocoa opened #275 "Include the monospace variants in the release zips"
As in the heading, consider inclusion of monospace variants in the release zips.

[2017-11-10 17:35] m4rc1e opened #276 "Testing hinted source fonts"
We are releasing an update for Google Fonts which will add the following 8 additional characters:

[code]

We've used the existing supplier to add and hint these glyphs.

I've managed to integrate the new glyphs into the .ufos and chain without causing unnecessary changes. However, the supplier has updated the fpgm, prep and cvt tables. They've assured me that no changes in hinted appearance will

[2017-11-11 18:48] davelab6 commented on #275
I expect instead to set that up as it's own repo

[2017-11-13 04:30] davelab6 commented on #276
Sounds good - it would be ideal if these tests include various Android system releases.

Please update this PR with such images.

[2017-11-13 13:08] anthrotype commented on #276
So what do you get when you plug Roboto in your compare tool? Do you notice any differences?

[2017-11-13 14:40] m4rc1e commented on #276
@anthrotype Still working on the tooling. Will have the results this eve. So far, so good...

[2017-11-13 15:11] crystaltype opened #277 "Improve Vietnamese"
Some suggestions:
- Some stacked diacritics are scaled vertically, and they looked thinner than the rest of the font.
I think we should not scale diacritics, we should resize them instead (keep the original ratio and weights).

I'm willing to help contribute the changes directly, by sending you a 'vietnamese only' glyphapp file for you to review and integrate.

Or, you can make changes and then pu

[2017-11-16 17:12] danyj opened #278 "Are there any planed changes for font weights ?"
Sorry about this question but we ran  in to an issue where font dev changed weights twice within few months and wrecked havoc on the sites we were building. Now we are forced to either change the designs again to new weights or look for alternative.

We would love to use Roboto but have heard that something like this  also happened here.

So the question is simple, are there any planned changes in

[2017-11-21 06:41] nv-wiki commented on #227
You can close this. Looks awesome, exactly as it should. Thank you. (There is no "u" in Navajo. )

[2017-11-25 22:44] fitojb commented on #278
What?

[2017-11-27 09:59] NiklasBr commented on #278
Excellent thread on the failures of Google Fonts, I'm also curious about any future plans for Roboto.

[2017-11-30 09:39] sergeevabc commented on #235
Priority High was given in March, now it is December eve.

I could hardly refrain from quoting Shakespeare’s Hamlet (act 1, scene 4):

Wiktionary explains this passage as follows

[2017-11-30 14:32] raffaelmeier commented on #228
The Noto Project Website does only provide fonts in ttf. for the eot woff etc. I had to generate my own files and made use of https://transfonter.org/ - this was a quite easy way and worked at once. I was seeking quite a couple of minutes with not much success for woff and eot sources...

[2017-12-01 14:21] tzfrs opened #279 "Support for German capitalized Eszett"
Hi,

the German eszett `ß` recently got a capitzlied version: `ẞ` which is currently not supported in Roboto, so when you have the text: "Maßlech" and use for example CSS to make this upper case via `text-transform: uppercase`, the result is: `MASSBLECH`.

Any idea if `ẞ` will be supported in the near future?

[2017-12-02 18:04] fitojb commented on #279
Hm, Roboto does contain the capital Eszett, and has for a long time. If you have downloaded the font, please make sure you do so from this repository’s “Releases” page; ensure it’s the latest version and make sure it didn’t come from a subsetted web-font version.

[2017-12-04 09:43] tzfrs commented on #279
@fitojb It contains the lowercase Eszett, `ß`, but not the upper case `ẞ`. You can check this by going to https://fonts.google.com/specimen/Roboto and entering those two characters. The lowercase get's displayed correctly, but the capitalized version does not exist.

I just downloaded the font from here, put it into my project, wrote `Maßblech`, used `text-transform: uppercase` and it still transf

[2017-12-04 10:00] moyogo commented on #279
@tzfrs two things:

1. Google Fonts subsets fonts, so you might have to select a different subset to view the characters you want: `<link href="https://fonts.googleapis.com/css?family=Roboto&amp;subset=latin-ext" rel="stylesheet">` may contain `ẞ`. Alternatively you can use the full font that is in this repository.

2. `text-transform: uppercase` changes `ß` into two `S` regardless of the font. Si

[2017-12-04 10:03] m4rc1e commented on #279
@moyogo thanks for the explanation.

We've had a recent discussion on this, https://github.com/google/fonts/issues/1346. Its in Latin-ext, https://github.com/m4rc1e/tools/blob/master/encodings/latin-ext_unique-glyphs.nam#L493

[2017-12-04 10:29] tzfrs commented on #279
@moyogo @m4rc1e
Thank you for your answers.

You seem to be right, when I write `<p>MAẞBLECH</p>` it shows me the capitalized version, so it seems to be a problem with the way `uppercase` is handled.

I found this in Google Fonts

so I don't actually need to add anything else, as you said, it seems to be because of the browser handling the CSS.

[2017-12-10 04:48] fitojb commented on #279
Can we close this as it is clearly not a font bug?

[2017-12-10 08:33] #279 closed

[2017-12-10 08:33] tzfrs commented on #279
@fitojb closed it.

[2017-12-12 16:42] cssobral2013 opened #280 "Add Bulgarian alternates for Cyrillic, if it doesn't have"

[2017-12-13 20:16] psalmody opened #281 "Condensed: Display: flex and align-items:center"
Using display: flex and align-items: center with Roboto Condensed causing some issues with the alignment (possibly only in FF/Edge?). See this codepen: https://codepen.io/psalmody/pen/dJPKWJ

![image](https://user-images.githubusercontent.com/12420157/33960361-c22708b0-e007-11e7-9a27-6180d33032af.png)

[2017-12-15 01:35] roozbehp opened #282 "Remove kerning spam"
There's a lot of kerning spam in the fonts.

For example, the font is kerning U+039E GREEK CAPITAL LETTER XI and U+0460 CYRILLIC CAPITAL LETTER OMEGA. The kerning across scripts should be removed.

/cc @rsheeter @davelab6

[2017-12-15 05:26] davelab6 commented on #282
Sounds good to me!

[2017-12-28 17:28] MatTheCat opened #283 "Cannot use OTF as webfont"
Following instructions on the README I generated font files I later tried to subset using pyftsubset, which led me to https://github.com/fonttools/fonttools/issues/1134

When I try to load Roboto-Regular.otf or any subset Chrome tells me he failed to decode the font. However ots-sanitize tells me all is fine.

What's going on?

[2018-01-02 09:33] amckinlay commented on #275
Roboto Mono open source yet?

[2018-01-09 11:19] RoelN commented on #283
The generated webfont is indeed rejected by Chrome with a `Failed to decode downloaded font: ...` message in the console.

It seems that removing the empty keys `FamilyBlues` and `FamilyOtherBlues` from `CFF > CFFFont > Private` results in a working OTF font after rebuilding it:

    <FamilyBlues value=""/>
    <FamilyOtherBlues value=""/>

[2018-01-09 11:40] anthrotype commented on #283
Oh, that issue was fixed in ufo2ft last year, the patch is in since version 0.4.0
 https://github.com/googlei18n/ufo2ft/pull/115

Recompiling the fonts with updated ufo2ft should fix the problem.

The latest OTS no longer complains about these empty blues operators:
https://github.com/khaledhosny/ots/commit/8f90e634696b6364a942cbf101ef6674df4b4455

Should go away once Chrome/Firefox update their e

[2018-01-09 11:41] anthrotype commented on #283
the solution suggested by @RoelN is quicker than recompiling the fonts from source. Just dump with ttx, strip those two empty values, and recompile with ttx.

[2018-01-09 15:20] MatTheCat commented on #283
If I understand there are in fact two issues at the same time:

- google/roboto requirements are outdated
- Chrome/Firefox have an outdated OTS

Is that right?

[2018-01-09 15:25] anthrotype commented on #283
correct

[2018-01-10 07:58] MatTheCat commented on #283
Should I open a PR to update requirements then?

[2018-01-10 16:22] anthrotype commented on #283
it might not be so straightforward as other things may break, but you can try.

cc @m4rc1e

[2018-01-10 16:28] MatTheCat commented on #283
Indeed just requiring ufo2ft==0.4.0 breaks things.

[code]

[2018-01-10 16:31] anthrotype commented on #283
related issue https://github.com/google/roboto/issues/239

[2018-01-10 16:35] MatTheCat commented on #283
Ouch guess I'll have to be patient.

[2018-01-18 08:10] naton commented on #275
@davelab6 Good idea on the separate repo. Any news on that..?

[2018-02-05 18:23] plastiv opened #284 "Which binary to use for Android application"
I'm confused why there is twice filesize difference (172 vs 306kb for Roboto-Regular) between

https://fonts.google.com/specimen/Roboto?selection.family=Roboto

and

https://github.com/google/roboto/releases/download/v2.138/roboto-android.zip

?

Projects readme page says, that

But at the same time, official android documentation still suggests to use it https://developers.google.com/fonts/docs/a

[2018-02-06 15:04] m4rc1e commented on #284
You're comparing the webfonts against the Android release. The webfonts have been subsetted and contain less glyphs.

We recently updated them. We should remove this line from the ReadMe. cc @davelab6

After skim reading this, it appears to be a guide mentioning how to use any font from the Google Fonts collection, not just Roboto.

Personally, I'd use the Android binaries over the webfonts hosted

[2018-02-06 16:33] m4rc1e commented on #283
Apologies for the delay.

I remember ufo2ft would set incorrect advance widths for glyphs made from components. We had to release and update the solve this. https://github.com/google/roboto/commit/e2c5a2f14fcdf5f9464ee59d0dddad683ea057a1

I think this has been fixed in ufo2ft. In the next release, I'll update the ufo2ft dependency.

[2018-02-11 15:32] sergeevabc commented on #275
Why does Roboto mono lack PAN_PROP_MONOSPACED flag?

[2018-02-15 16:08] MatTheCat commented on #283
Nice! Do you have any idea when this could be released?

[2018-03-09 20:35] tomtoxx opened #286 "Problem with Roboto font as system font under windows 10"
The Roboto font has 2 problems as system font under windows 10:

![clock](https://user-images.githubusercontent.com/8841596/37228692-be60ab1e-23e1-11e8-9e32-2bc0d46fd978.PNG)
![banner](https://user-images.githubusercontent.com/8841596/37228693-be881e92-23e1-11e8-8921-e7b738f35958.PNG)

[2018-03-12 22:23] blendsdk opened #287 "how to generate web-fonts"
Could you please provide some information regarding how one can generate corresponding web-fonts
from the output generated by the roboto tools?

[2018-03-13 09:04] m4rc1e commented on #287
Follow setup instructions on ReadMe then:

[code]

https://github.com/google/roboto/blob/master/Makefile#L59-L72

[2018-03-13 10:15] blendsdk commented on #287
Thank you :)

[2018-03-13 10:17] m4rc1e commented on #287
@blendsdk Just to add, you'll have to be patient. The chain isn't fast.

[2018-03-13 10:20] blendsdk commented on #287
Im am trying to build the font on OSX, and then find a way to make them available for web as woff(2)
So far I have problem with python breaking, but I guess it is a case sensitivity issue.

[2018-03-13 10:25] m4rc1e commented on #287
Probably linked to #55

Why not just convert the downloadable ttfs from GF to woff?

If you opt for this approach, follow the readme for Zilla Slab, https://github.com/mozilla/zilla-slab to get the webfonts

[2018-03-13 10:36] blendsdk commented on #287
Yes I think #55 is the problem.

I will give their build script a try. On the account of GF; It looks like that the GF serves different files based on the browser type! (Or am I mistaken here!!??)

[2018-03-13 10:58] m4rc1e commented on #287
You want

![screen shot 2018-03-13 at 10 58 17](https://user-images.githubusercontent.com/7525512/37337859-784f31da-26ad-11e8-9923-aef5abb626ab.png)

This just downloads the webfont ttfs

[2018-03-13 13:54] blendsdk commented on #287
It took me a while to get everything going. But now everything works fine. I can serve locally served Roboto fonts. Thank you.

[2018-03-26 03:01] fitojb commented on #286
Windows 10 uses U+2236 RATIO as the time separator, so adding it to Roboto would fix that issue.

W.r.t. the media player buttons, that is not a Roboto bug—the system should map the correct PUA characters regardless of the font, or switch to a different rendering mechanism that doesn’t rely on fonts, but you should contact Microsoft for that.

[2018-04-05 14:27] hjorve opened #288 "Kerning issue with letter “đ”"
Hi there, seems like there’s an issue with kerning after letter “đ”, (html entity `&dstrok;`) like shown on the image below. Haven’t noticed this peculiar situation earlier… weights larger than Regular have this particular problem.

![image](https://user-images.githubusercontent.com/38107026/38371762-81c2c2de-38ed-11e8-93e2-8c94621abfef.png)

Hope this can be addressed soon. Kind regards!

[2018-04-22 08:19] ghost opened #289 "Inconsistent K in Latin and Cyrillic"
In Roboto 2015 latin letter K was updated, but the cyrillic one wasn't. They should be the same.
![image](https://user-images.githubusercontent.com/37714087/39092868-e8335018-461e-11e8-8101-717c2a6641b6.png)

[2018-04-22 12:03] kushatc commented on #289
It should look like that:
![image](https://user-images.githubusercontent.com/37714087/39094795-2ebf9f4a-463e-11e8-8f5b-d81f825c37a6.png)

[2018-04-29 11:45] alihalabyah commented on #256
Was there any update on this problem?

[2018-05-01 04:31] Denubis opened #290 "Problematic gap in the egyptological alef"
Hi folks.

Currently roboto renders the egyptological alef with two separate "bellies" -- which is causing some confusion to our students just learning the Gardiner signs. According to the original proposal http://unicode.org/wg2/docs/n2241.pdf and an example from the original book (see: http://web.ff.cuni.cz/ustavy/egyptologie/pdf/Gardiner_signlist.pdf page 467 in line g1, before the term `vultur

[2018-05-08 10:57] darkblackcorner opened #291 "Missing "black circle" character"
Roboto is missing the ● (black circle, u25CF) character, which is commonly used to mask passwords.
Currently our UI renders a character placeholder instead.
Rather than just switch fonts I first wanted to check if this could be fixed.

Thanks!

[2018-05-09 11:07] fitojb commented on #291
As this is a user-interface typeface, it makes sense to include this character, but…
Most fonts in existence don’t contain every glyph possible. In 2018, what kind of system doesn’t include font fallback mechanisms?

[2018-05-15 13:53] xenocryst commented on #235
I'd be ecstatic if the lowercase L simply had the bottom tail to match the curves of the lowercase J.  When might this issue be resolved (by reverse S, bottom tail, or whatever)?

[2018-05-17 08:38] m4rc1e commented on #283
@MatTheCat We're actively working on it. Unfortunately these things take time.

[2018-05-17 08:59] MatTheCat commented on #283
No problem I understand; just wanted to make sure thanks.

[2018-05-23 16:48] danielonum opened #292 "Roboto / Roboto Condensed font family name compatibility win - mac issue"
In windows all the roboto fonts (codensed too)  will be installed in roboto family, unlike on mac where will be installed like two separate font family's.
One is roboto and other is roboto condensed so there is an cross platform issue (missing fonts) because different font family names.

[2018-05-29 16:13] nicatmanaf opened #293 "Character: Ə"
Roboto missing character Ə ə

[2018-06-11 16:51] tonyzeoli commented on #256
Hi,

I found this post about this issue in Google and I'm having the same issue. Roboto is NOT installed locally, but websites using the font are rendering it as bold. When I try to change the font-weight using the Inspector from normal to 100, 200, or 300, it will not change, at all.

An example of a website using Roboto  is WPMUDEV.org. The attached screenshot shows you how I see it.

<img width

[2018-07-27 18:57] EwonRael commented on #293
I think this is a repeat of https://github.com/google/roboto/issues/249

[2018-08-09 07:19] mittus opened #294 "Incorrect "»" in Roboto Light"
I use Roboto Light (300).

On the page https://fonts.google.com/specimen/Roboto?subset=cyrillic&selection.family=Roboto:300,400,500,700 I see normal text, but when I use it from `@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Condensed:400&subset=cyrillic');`, I see incorrect symbol:

![test3](https://user-images.githubusercontent.com/711179/43883894-d99c8272-9b

[2018-08-09 07:59] m4rc1e commented on #294
Here's a [jsbin](https://jsbin.com/fufodutonu/1/edit?html,output)

I see no issue on OS X Chrome 67 and Safari 11.1.2

![screen shot 2018-08-09 at 08 59 24](https://user-images.githubusercontent.com/7525512/43886065-8c3705fe-9bb2-11e8-85ff-8b0587eea52a.png)

Is Roboto installed locally on your machine? if so, remove it.

[2018-08-09 08:29] mittus commented on #294
It's work for me. Sorry for issue

[2018-08-09 13:39] fitojb commented on #294
You have a very old version installed locally, and it’s conflicting with the browser.

[2018-08-10 08:44] ahmedflix25 opened #295 "Arabic Decimal Point is a white square"
in windows any RTL textbox with Arabic culture like ar-EG will show the Decimal Point as white square https://imgur.com/Av7x7Z6

[2018-08-21 14:35] tomasale opened #296 "Add New Letters (LITHUANIAN)"
Hello,
We like your font.
Could you also add new Lithuanian letters:
ą ę ė į ų ū
Ą Ę Ė Į Ų Ū

Thank you

[2018-08-22 07:16] fitojb commented on #296
The font does contain those characters, and always has. Maybe you’ve downloaded an old or subsetted version that does not come from this repository—fact that would make your report invalid.
![screenshot from 2018-08-22 07-15-20](https://user-images.githubusercontent.com/554953/44448581-2ca17600-a5db-11e8-9c24-c0da304dc723.png)

[2018-09-03 23:44] LordZane opened #297 "Missing "Black Star" (U+2605) (★)"

[2018-09-10 12:53] #296 closed

[2018-09-15 07:35] fitojb commented on #297
I don’t think dingbats are in scope for Roboto. Why don’t you use Noto Sans Symbols?

[2018-09-15 14:27] LordZane commented on #297
I'm using this font for a gtk app, and there is no way that I know of to specify a fallback font

[2018-09-16 06:03] a-raccoon opened #298 "Bug: block and box drawing characters do not match whitespace width"
On Android devices using Roboto font, block and box drawing character widths do not match that of whitespace width, so they render with alignment issues.  Example:

`#####  https://git.io/vKiO1  ######
#                                 #
#                                 #
#    █▀▀▀▀▀█ █▄█ █▄█ ▄ █▀▀▀▀▀█    #
#    █ ███ █ ▀ ██▀▀▀▄█ █ ███ █    #
#    █ ▀▀▀ █ ▀ ▄  ██▀█ █ ▀▀▀ █    #
#    ▀▀▀▀▀▀▀ ▀▄█▄▀

[2018-09-16 10:29] fitojb commented on #297
fontconfig should already do that for you

[2018-09-16 14:39] LordZane commented on #297
On windows, it dosen't seem to, not sure why

[2018-09-22 19:57] AmmadHassanPro opened #299 "Robotic Condensed Font, not showing bold characters in Chrome"
Hello,

I am using Roboto Condensed font for my website, along with Bootstrap for the front end. Whenever I use '<b>' bold tag to show some text as bold, it is not rendering properly as bold , it is rendering as it were marked as paragraph. However, when I loaded my website in Safari, the bold formatting is showing as expected, but in Google Chrome, it is not.

Here is the details of my system:
OS

[2018-09-24 15:39] mailinglists35 opened #300 "font is not seen as monospaced by putty on windows"
to load in putty i must enable the option window-appearance - allow selection of variable pitch fonts

please make the font truly monospaced

thanks

[2018-09-24 15:53] mailinglists35 commented on #300
https://github.com/google/fonts/issues/225

[2018-09-24 15:54] mailinglists35 commented on #300
https://github.com/google/fonts/issues/251

[2018-09-24 16:01] mailinglists35 opened #301 "extra space at the top and bottom of characters in putty on windows"
other fonts display the lines continuous

roboto mono:
![putty_2018-09-24_18-56-54](https://user-images.githubusercontent.com/2054302/45963458-e4d39b80-c02b-11e8-8891-635b1175ee78.png)

other monospaced font (liberation mono):
![putty_2018-09-24_19-00-04](https://user-images.githubusercontent.com/2054302/45963596-2bc19100-c02c-11e8-9b42-7c8347b53b9f.png)